<app-page-header [pageHeaderConfig]="pageHeaderConfig()" />

@if (hasVehicleSelected()) {
  <app-metrics-card [metricGroups]="metricGroups()" />
}

<div class="search-filter-wrapper">
  <app-search-filter
    [tableRef]="dataTable.dt()"
    [searchFilterConfig]="searchFilterConfig"
    [prefillValues]="prefillValues()"
    (onFilterSubmit)="onFilterSubmit($event)"
    (onFilterReset)="onFilterReset()"
  />
</div>

<app-data-table
  #dataTable
  [class.hidden]="!hasVehicleSelected()"
  [tableConfig]="table.tableConfig()"
  [tableHeader]="table.headers()"
  [tableData]="table.data()"
  [loading]="table.loading()"
  [bulkActionButtons]="table.bulkActions()"
  [rowActions]="table.rowActions()"
  (filterData)="onTableStateChange($event)"
/>

@if (!hasVehicleSelected()) {
  <app-empty-messages
    [icon]="ICONS.COMMON.CAR"
    title="No Vehicle Selected"
    description="Please select a vehicle from the dropdown above to view its event history."
  />
}
