<app-page-header 
    title="Add Asset"
    subtitle="Register a new asset to the system"
></app-page-header>

<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form">
            
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <app-input-field 
            [formGroup]="formGroup" 
            [inputFieldConfig]="fieldConfigs()['assetName']">
        </app-input-field>

        <app-input-field 
            [formGroup]="formGroup" 
            [inputFieldConfig]="fieldConfigs()['assetModel']">
        </app-input-field>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <app-input-field 
            [formGroup]="formGroup" 
            [inputFieldConfig]="fieldConfigs()['assetSerialNumber']">
        </app-input-field>

        <app-input-field 
            [formGroup]="formGroup" 
            [inputFieldConfig]="fieldConfigs()['usage']">
        </app-input-field>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <app-input-field 
            [formGroup]="formGroup" 
            [inputFieldConfig]="fieldConfigs()['calibrationFrom']">
        </app-input-field>

        <app-input-field 
            [formGroup]="formGroup" 
            [inputFieldConfig]="fieldConfigs()['calibrationPeriod']">
        </app-input-field>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <app-input-field 
            [formGroup]="formGroup" 
            [inputFieldConfig]="fieldConfigs()['assetCertificate']">
        </app-input-field>

        <app-input-field 
            [formGroup]="formGroup" 
            [inputFieldConfig]="fieldConfigs()['assetImages']">
        </app-input-field>
    </div>

    <div class="pt-4 border-t border-gray-200 button-container">
        <button pButton 
            type="submit" 
            label="Add Asset" 
            [loading]="loading()"
            [disabled]="loading()"
            class="p-button-primary flex-1 md:flex-none">
        </button>
        
        <button pButton 
            type="button" 
            label="Reset" 
            (click)="resetForm()"
            [disabled]="loading()"
            class="p-button-outlined flex-1 md:flex-none">
        </button>
    </div>
    
</form>
