@let config = resolvedInputFieldConfig();
@let isFieldInvalid = isFieldInvalidDisplay();
@let invalidClass = isFieldInvalid ? 'ng-invalid ng-dirty' : '';
@let errorMessage = getErrorMessage(inputFieldConfig().fieldName);
@let showStandardLabel = config.showStandardLabel;
@let effectivePlaceholder = showStandardLabel && config.placeholder ? config.placeholder : '';

@if (showStandardLabel) {
  <label
    [for]="config.id"
    class="text-md font-semibold"
  >
    {{ config.label }}
  </label>
}
@switch (config.fieldType) {
  @case (ALL_DATA_TYPES.TEXT) {
    <p-floatlabel [variant]="config.floatLabelVariant">
      <input
        pInputText
        [id]="config.id"
        [autocomplete]="config.autocomplete"
        [fluid]="config.haveFullWidth"
        [pSize]="config.fieldSize"
        [attr.placeholder]="effectivePlaceholder || null"
        [attr.maxlength]="getMaxLengthAttribute()"
        [disabled]="config.disabledInput || false"
        [readonly]="config.readonlyInput || false"
        [ngModel]="effectiveValue()"
        [ngModelOptions]="{ standalone: true }"
        [class]="invalidClass"
        (input)="onValueChange($event)"
        (blur)="onBlur()"
      />
      @if (!showStandardLabel) {
        <label [for]="config.id">{{ config.label }}</label>
      }
    </p-floatlabel>
  }
  @case (ALL_DATA_TYPES.NUMBER) {
    <p-floatlabel [variant]="config.floatLabelVariant">
      @let numberConfig = config.numberConfig || {};
      <p-inputnumber
        [inputId]="config.id"
        [fluid]="config.haveFullWidth"
        [size]="config.fieldSize"
        [mode]="numberConfig?.mode"
        [min]="numberConfig?.minimumBoundaryValue ?? null"
        [max]="numberConfig?.maximumBoundaryValue ?? null"
        [minFractionDigits]="numberConfig?.minimumFractionDigits"
        [maxFractionDigits]="numberConfig?.maximumFractionDigits"
        [useGrouping]="numberConfig?.allowNumberFormatting"
        [locale]="numberConfig?.locale"
        [currencyDisplay]="numberConfig?.currencyDisplay"
        [currency]="numberConfig?.currency"
        [prefix]="numberConfig?.prefix"
        [suffix]="numberConfig?.suffix"
        [showButtons]="numberConfig?.showUpAndDownButtons"
        [buttonLayout]="numberConfig?.upAndDownButtonLayout || ALL_UP_AND_DOWN_BUTTON_LAYOUTS.Default"
        [step]="numberConfig?.step || 1"
        [disabled]="config.disabledInput || false"
        [readonly]="config.readonlyInput || false"
        [ngModel]="effectiveValue()"
        [ngModelOptions]="{ standalone: true }"
        [class]="invalidClass"
        (onInput)="onValueChange($event)"
        (blur)="onBlur()"
      />
      @if (!showStandardLabel) {
        <label [for]="config.id">{{ config.label }}</label>
      }
    </p-floatlabel>
  }
  @case (ALL_DATA_TYPES.SELECT) {
    <p-floatlabel [variant]="config.floatLabelVariant">
      @let selectConfig = config.selectConfig;
      @let optionsDropdownLength = selectConfig?.optionsDropdown?.length;
      <p-select
        [id]="config.id"
        [fluid]="config.haveFullWidth"
        [size]="config.fieldSize"
        [placeholder]="effectivePlaceholder"
        [appendTo]="'body'"
        [options]="selectConfig?.optionsDropdown ?? []"
        [optionLabel]="selectConfig?.optionLabel ?? 'label'"
        [optionValue]="selectConfig?.optionValue ?? 'value'"
        [optionDisabled]="selectConfig?.optionDisabled"
        [checkmark]="selectConfig?.showCheckmark"
        [filter]="selectConfig?.haveFilter && (optionsDropdownLength ?? 0) > ALL_DROPDOWN_CONFIG.DEFAULT_FILTER_LENGTH"
        [filterBy]="selectConfig?.filterBy"
        [loading]="selectConfig?.loading ?? false"
        [showClear]="selectConfig?.showClearButton"
        [editable]="selectConfig?.isEditable"
        [virtualScroll]="selectConfig?.virtualScroll"
        [virtualScrollItemSize]="selectConfig?.virtualScrollItemSize"
        [disabled]="config.disabledInput || false"
        [ngModel]="effectiveValue()"
        [ngModelOptions]="{ standalone: true }"
        [class]="invalidClass"
        (onChange)="onValueChange($event.value)"
        (onBlur)="onBlur()"
      />
      @if (!showStandardLabel) {
        <label [for]="config.id">{{ config.label }}</label>
      }
    </p-floatlabel>
  }
  @case (ALL_DATA_TYPES.AUTOCOMPLETE) {
    <p-floatlabel [variant]="config.floatLabelVariant">
      @let autocompleteConfig = config.autocompleteConfig;
      <p-autocomplete
        [inputId]="config.id"
        [fluid]="config.haveFullWidth"
        [size]="config.fieldSize"
        [placeholder]="config.placeholder"
        [suggestions]="autocompleteSuggestions()"
        (completeMethod)="onAutocompleteComplete($event)"
        (onSelect)="onAutocompleteSelect($event)"
        [optionLabel]="autocompleteConfig?.optionLabel ?? 'label'"
        [optionValue]="autocompleteConfig?.optionValue ?? 'value'"
        [forceSelection]="autocompleteConfig?.forceSelection ?? false"
        [showClear]="autocompleteConfig?.showClearButton ?? true"
        [appendTo]="'body'"
        [disabled]="config.disabledInput || false"
        [ngModel]="effectiveValue()"
        [ngModelOptions]="{ standalone: true }"
        [class]="invalidClass"
        (onChange)="onValueChange($event)"
        (onBlur)="onAutocompleteBlur($event)"
      />
      @if (!showStandardLabel) {
        <label [for]="config.id">{{ config.label }}</label>
      }
    </p-floatlabel>
  }
  @case (ALL_DATA_TYPES.MULTI_SELECT) {
    <p-floatlabel [variant]="config.floatLabelVariant">
      @let multiSelectConfig = config.multiSelectConfig;
      @let optionsDropdownLengthMs = multiSelectConfig?.optionsDropdown?.length;
      <p-multiselect
        [id]="config.id"
        [fluid]="config.haveFullWidth"
        [size]="config.fieldSize"
        [placeholder]="effectivePlaceholder"
        [appendTo]="'body'"
        [options]="multiSelectConfig?.optionsDropdown ?? []"
        [optionLabel]="multiSelectConfig?.optionLabel ?? 'label'"
        [optionValue]="multiSelectConfig?.optionValue ?? 'value'"
        [optionDisabled]="multiSelectConfig?.optionDisabled"
        [maxSelectedLabels]="multiSelectConfig?.maxSelectedLabels"
        [filter]="
          multiSelectConfig?.haveFilter && (optionsDropdownLengthMs ?? 0) > ALL_DROPDOWN_CONFIG.DEFAULT_FILTER_LENGTH
        "
        [filterBy]="multiSelectConfig?.filterBy"
        [loading]="multiSelectConfig?.loading ?? false"
        [showToggleAll]="multiSelectConfig?.showToggleAll"
        [display]="multiSelectConfig?.display || ALL_MULTI_SELECT_DISPLAY_TYPES.Chip"
        [showClear]="multiSelectConfig?.showClearButton"
        [disabled]="config.disabledInput || false"
        [ngModel]="effectiveValue()"
        [ngModelOptions]="{ standalone: true }"
        [class]="invalidClass"
        (onChange)="onValueChange($event.value)"
        (onBlur)="onBlur()"
      />
      @if (!showStandardLabel) {
        <label [for]="config.id">{{ config.label }}</label>
      }
    </p-floatlabel>
  }
  @case (ALL_DATA_TYPES.DATE) {
    <p-floatlabel [variant]="config.floatLabelVariant">
      @let dateConfig = config.dateConfig;
      <p-datepicker
        [id]="config.id"
        [fluid]="config.haveFullWidth"
        [size]="config.fieldSize"
        [attr.placeholder]="effectivePlaceholder || null"
        [dateFormat]="dateConfig?.dateFormat"
        [showIcon]="dateConfig?.showCalendarIcon"
        [iconDisplay]="dateConfig?.iconDisplay || ALL_DATE_ICON_DISPLAY_TYPES.Input"
        [timeOnly]="dateConfig?.timeOnly"
        [minDate]="dateConfig?.minDate"
        [maxDate]="dateConfig?.maxDate"
        [showButtonBar]="dateConfig?.showButtonBar"
        [selectionMode]="dateConfig?.selectionMode || ALL_DATE_SELECTION_MODES.Single"
        [showTime]="dateConfig?.showTime || false"
        [hourFormat]="dateConfig?.hourFormat || ALL_HOUR_FORMATS.Twelve"
        [view]="dateConfig?.calendarView || ALL_CALENDAR_VIEWS.Date"
        [numberOfMonths]="dateConfig?.numberOfMonths || 1"
        [touchUI]="dateConfig?.touchUI"
        [appendTo]="dateConfig?.touchUI ? undefined : 'body'"
        [readonlyInput]="config.readonlyInput"
        [disabled]="config.disabledInput || false"
        [ngModel]="effectiveValue()"
        [ngModelOptions]="{ standalone: true }"
        [class]="invalidClass"
        (ngModelChange)="onValueChange($event)"
        (onBlur)="onBlur()"
      />
      @if (!showStandardLabel) {
        <label [for]="config.id">{{ config.label }}</label>
      }
    </p-floatlabel>
  }
  @case (ALL_DATA_TYPES.PASSWORD) {
    <p-floatlabel [variant]="config.floatLabelVariant">
      @let passwordConfig = config.passwordConfig;
      <p-password
        [inputId]="config.id"
        [fluid]="config.haveFullWidth"
        [size]="config.fieldSize"
        [autocomplete]="config.autocomplete"
        [feedback]="passwordConfig?.feedback || false"
        [promptLabel]="passwordConfig?.promptLabel"
        [weakLabel]="passwordConfig?.weakLabel"
        [mediumLabel]="passwordConfig?.mediumLabel"
        [strongLabel]="passwordConfig?.strongLabel"
        [toggleMask]="passwordConfig?.toggleMask"
        [strongRegex]="passwordConfig?.strongRegex || ''"
        [mediumRegex]="passwordConfig?.mediumRegex || ''"
        [disabled]="config.disabledInput || false"
        [ngModel]="effectiveValue()"
        [ngModelOptions]="{ standalone: true }"
        [class]="invalidClass"
        (onBlur)="onBlur(); onValueChange($event)"
      />
      @if (!showStandardLabel) {
        <label [for]="config.id">{{ config.label }}</label>
      }
    </p-floatlabel>
  }
  @case (ALL_DATA_TYPES.CHECKBOX) {
    @if (!showStandardLabel) {
      <label [for]="`checkbox-${config.id}`">{{ config.label }}</label>
    }
    @let checkboxConfig = config.checkboxConfig;
    <div [class]="`flex flex-${checkboxConfig?.align || ALL_CHECKBOX_AND_RADIO_ALIGN.Vertical} gap-4`">
      @for (option of checkboxConfig?.options; track option.value) {
        <div class="flex items-center">
          <p-checkbox
            [inputId]="'checkbox-' + option.value"
            [value]="option"
            [binary]="checkboxConfig?.binary || false"
            [indeterminate]="checkboxConfig?.indeterminate || false"
            [size]="config.fieldSize"
            [readonly]="config.readonlyInput || false"
            [disabled]="config.disabledInput || false"
            [ngModel]="effectiveValue()"
            [ngModelOptions]="{ standalone: true }"
            [class]="invalidClass"
            (onChange)="onValueChange($event)"
          />
          <label
            [for]="'checkbox-' + option.value"
            class="ml-2"
          >
            {{ option.label }}
          </label>
        </div>
      }
    </div>
  }
  @case (ALL_DATA_TYPES.RADIO) {
    @if (!showStandardLabel) {
      <label [for]="`radio-${config.id}`">{{ config.label }}</label>
    }
    @let radioConfig = config.radioConfig;
    <div [class]="`flex flex-${radioConfig?.align || ALL_CHECKBOX_AND_RADIO_ALIGN.Vertical} gap-4`">
      @for (option of radioConfig?.options; track option.value) {
        <div class="flex items-center">
          <p-radioButton
            [inputId]="'radio-' + option.value"
            [value]="option"
            [size]="config.fieldSize"
            [disabled]="config.disabledInput || false"
            [ngModel]="effectiveValue()"
            [ngModelOptions]="{ standalone: true }"
            [class]="invalidClass"
            (onClick)="onValueChange($event)"
          />
          <label
            [for]="'radio-' + option.value"
            class="ml-2"
          >
            {{ option.label }}
          </label>
        </div>
      }
    </div>
  }
  @case (ALL_DATA_TYPES.ATTACHMENTS) {
    @let fileConfig = config.fileConfig;
    <div
      class="rounded-lg border border-gray-300 shadow-sm"
      [ngClass]="{ 'border-red-500': isFieldInvalid }"
    >
      <p-fileupload
        #fileUploadRef
        [id]="config.id"
        [customUpload]="fileConfig?.customUpload"
        [multiple]="fileConfig?.multipleFiles"
        [accept]="getAllowedFileTypes(',.') || undefined"
        [maxFileSize]="fileConfig?.maxFileSize"
        [mode]="fileConfig?.mode"
        [auto]="fileConfig?.automaticUpload"
        [chooseLabel]="fileConfig?.chooseLabel"
        [cancelLabel]="fileConfig?.cancelLabel"
        [showUploadButton]="fileConfig?.showUploadButton"
        [showCancelButton]="fileConfig?.showCancelButton"
        [name]="config.fieldName"
        [fileLimit]="fileConfig?.fileLimit"
        [class]="invalidClass"
        (onSelect)="onFilesSelected($event)"
        (onRemove)="onFileRemoved($event)"
      >
        <ng-template
          #header
          let-files
          let-chooseCallback="chooseCallback"
          let-clearCallback="clearCallback"
        >
          <div class="flex w-full flex-col gap-3">
            <div class="flex items-center justify-between gap-3">
              <div class="flex items-center gap-3">
                <div class="flex h-9 w-9 items-center justify-center rounded-full bg-surface-100">
                  <i
                    [ngClass]="ALL_MEDIA_ICONS.COMMON.PAPERCLIP"
                    class="text-sm text-muted-color"
                  ></i>
                </div>
                @if (!showStandardLabel) {
                  <div class="flex flex-col">
                    <span
                      class="text-sm font-semibold"
                      [ngClass]="isFieldInvalid ? 'text-red-500' : 'text-primary-600'"
                    >
                      {{ config.label }}
                    </span>
                  </div>
                }
              </div>
              <div class="flex items-center gap-2">
                <app-button
                  [buttonConfig]="getFileUploadButtonConfig('viewMedia')"
                  [showDisabledButton]="!files || files.length === 0"
                  (onButtonClick)="openFilePreview(files)"
                />
                <app-button
                  [buttonConfig]="getFileUploadButtonConfig('uploadMedia')"
                  [showDisabledButton]="!files || (files?.length ?? 0) >= (fileConfig?.fileLimit ?? 0)"
                  (onButtonClick)="onChoosingFile(chooseCallback)"
                />
                <app-button
                  [buttonConfig]="getFileUploadButtonConfig('deleteMedia')"
                  [showDisabledButton]="!files || files.length === 0"
                  (onButtonClick)="onClearAllSelectedFiles($any($event), clearCallback)"
                />
              </div>
            </div>
            <div class="flex flex-col gap-1 text-xs text-muted-color sm:flex-row sm:items-center sm:justify-between">
              <div class="flex flex-wrap items-center gap-2">
                <span>
                  @let fileCount = files?.length || 0;
                  @if (fileConfig?.fileLimit) {
                    <span>{{ fileCount }} of {{ fileConfig?.fileLimit }} files</span>
                  } @else {
                    <span>{{ fileCount }} file{{ fileCount === 1 || fileCount === 0 ? '' : 's' }}</span>
                  }
                </span>
                @if (fileConfig?.maxFileSize) {
                  <span class="h-1 w-1 rounded-full bg-surface-300"></span>
                  <span>{{ formatSize(totalUploadedSize) }} of {{ formatSize(fileConfig?.maxFileSize) }} uploaded</span>
                }
              </div>
              @if (fileConfig?.acceptFileTypes?.length) {
                <span class="text-[11px] text-muted-color">
                  Allowed types:
                  <span class="font-medium">{{ getAllowedFileTypes(', ', true) }}</span>
                </span>
              }
            </div>
          </div>
        </ng-template>
        <ng-template
          #content
          let-files
          let-removeFileCallback="removeFileCallback"
        >
          <div class="flex flex-col gap-4 pt-3">
            @if (files?.length > 0) {
              <div class="grid grid-cols-1 gap-2.5 sm:grid-cols-1 lg:grid-cols-2">
                @for (file of files; track file.name; let i = $index) {
                  <div
                    class="file-entry-card group flex w-full items-center gap-3 rounded-lg border px-2.5 py-2 shadow-sm transition-all duration-150 hover:shadow-md"
                  >
                    <div
                      class="file-entry-card__thumb flex h-12 w-16 cursor-pointer items-center justify-center overflow-hidden rounded-md"
                      role="button"
                      tabindex="0"
                      (click)="openFilePreview(file)"
                    >
                      @if (isImageFile(file)) {
                        <p-image
                          [alt]="file.name"
                          [src]="file.objectURL"
                          [preview]="false"
                        />
                      } @else {
                        <i
                          class="file-entry-card__icon text-2xl"
                          [ngClass]="ALL_MEDIA_ICONS.COMMON.FILE"
                        ></i>
                      }
                    </div>
                    <div class="flex min-w-0 flex-1 items-center justify-between gap-2">
                      <div class="flex min-w-0 flex-col gap-0.5">
                        <span
                          class="file-entry-card__name block max-w-full overflow-hidden text-ellipsis whitespace-nowrap text-xs font-semibold"
                        >
                          {{ file.name }}
                        </span>
                        <div class="file-entry-card__size flex flex-wrap items-center gap-2 text-[11px]">
                          <span>{{ formatSize(file.size) }}</span>
                        </div>
                      </div>
                      <div class="flex items-center gap-1.5">
                        <app-button
                          [buttonConfig]="getFileUploadButtonConfig('deleteMedia')"
                          (onButtonClick)="onRemovingSelectedFile($any($event), removeFileCallback, i)"
                        />
                      </div>
                    </div>
                  </div>
                }
              </div>
            }
          </div>
        </ng-template>
        <ng-template #empty>
          <div
            class="flex flex-col items-center justify-center rounded-lg border border-dashed border-surface-200 py-6 text-center"
          >
            <i
              [ngClass]="ALL_MEDIA_ICONS.COMMON.CLOUD_UPLOAD"
              class="mb-3 rounded-full border-2 border-surface-200 p-4 text-2xl text-muted-color"
            ></i>
            <p class="m-0 text-sm text-muted-color">
              Drag and drop files here, or click the upload button to browse from your device.
            </p>
          </div>
        </ng-template>
      </p-fileupload>
    </div>
  }
  @case (ALL_DATA_TYPES.TEXT_AREA) {
    <p-floatlabel [variant]="config.floatLabelVariant">
      @let textAreaConfig = config.textAreaConfig;
      <textarea
        pTextarea
        [id]="config.id"
        [fluid]="config.haveFullWidth"
        [pSize]="config.fieldSize"
        [placeholder]="effectivePlaceholder"
        [attr.maxlength]="getMaxLengthAttribute()"
        [rows]="textAreaConfig?.rows"
        [cols]="textAreaConfig?.cols"
        [autoResize]="textAreaConfig?.autoResize"
        [readonly]="config.readonlyInput || false"
        [disabled]="config.disabledInput || false"
        [ngModel]="effectiveValue()"
        [ngModelOptions]="{ standalone: true }"
        [class]="invalidClass"
        (input)="onValueChange($event)"
        (blur)="onBlur()"
      ></textarea>
      @if (!showStandardLabel) {
        <label [for]="config.id">{{ config.label }}</label>
      }
    </p-floatlabel>
  }
  @case (ALL_DATA_TYPES.INDIVIDUAL_NUMBER) {
    @let individualNumberConfig = config.individualNumberConfig;
    <p-inputotp
      [id]="config.id"
      [length]="individualNumberConfig?.length || 2"
      [size]="config.fieldSize"
      [integerOnly]="individualNumberConfig?.integerOnly ?? true"
      [readonly]="config.readonlyInput || false"
      [ngModel]="effectiveValue()"
      [ngModelOptions]="{ standalone: true }"
      [class]="invalidClass"
      (ngModelChange)="onValueChange($event)"
      (blur)="onBlur()"
    >
      <ng-template
        #input
        let-token
        let-events="events"
        let-index="index"
      >
        <input
          type="text"
          [maxLength]="1"
          (input)="events.input($event)"
          (keydown)="events.keydown($event)"
          [attr.value]="token"
          class="p-inputtext p-component individual-number-input"
        />
        @let separators = individualNumberConfig?.separators;
        @if (separators && separators.length > 0) {
          @for (separator of separators; track separator.position) {
            @if (index === separator.position) {
              <div class="px-2"><span [innerHTML]="separator.content"></span></div>
            }
          }
        }
      </ng-template>
    </p-inputotp>
    @if (!showStandardLabel) {
      <label [for]="config.id">{{ config.label }}</label>
    }
  }
}
@if (isFormMode() && isFieldInvalid) {
  <small class="p-error text-red-500">{{ errorMessage }}</small>
}
