<div [formGroup]="formGroup()">

    @let isFieldInvalid = checkIsFieldInvalid(inputFieldConfig().fieldName);
    @let errorMessage = getErrorMessage(inputFieldConfig().fieldName);

    @switch (inputFieldConfig().fieldType) {
        @case (ALL_FIELD_TYPES.Text) {
            <p-floatlabel [variant]="inputFieldConfig().floatLabelVariant">
                <input 
                    pInputText 
                    [id]="inputFieldConfig().id" 
                    [autocomplete]="inputFieldConfig().autocomplete" 
                    [fluid]="inputFieldConfig().haveFullWidth" 
                    [pSize]="inputFieldConfig().fieldSize" 
                    [formControlName]="inputFieldConfig().fieldName" 
                    [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid}" 
                />
                <label [for]="inputFieldConfig().id">{{inputFieldConfig().label}}</label>
            </p-floatlabel>
        }
        @case (ALL_FIELD_TYPES.Number) {
            <p-floatlabel [variant]="inputFieldConfig().floatLabelVariant">

                @let numberConfig = inputFieldConfig().numberConfig || {};
                
                <p-inputnumber
                    [inputId]="inputFieldConfig().id" 
                    [autocomplete]="inputFieldConfig().autocomplete"
                    [fluid]="inputFieldConfig().haveFullWidth" 
                    [size]="inputFieldConfig().fieldSize" 
                    [formControlName]="inputFieldConfig().fieldName" 
                    [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid}" 
                    [mode]="numberConfig?.mode" 
                    [min]="numberConfig?.minimumBoundaryValue" 
                    [max]="numberConfig?.maximumBoundaryValue" 
                    [minFractionDigits]="numberConfig?.minimumFractionDigits" 
                    [maxFractionDigits]="numberConfig?.maximumFractionDigits"
                    [useGrouping]="numberConfig?.allowNumberFormatting" 
                    [locale]="numberConfig?.locale" 
                    [currencyDisplay]="numberConfig?.currencyDisplay" 
                    [currency]="numberConfig?.currency" 
                    [prefix]="numberConfig?.prefix"
                    [suffix]="numberConfig?.suffix" 
                    [showButtons]="numberConfig?.showUpAndDownButtons" 
                    [buttonLayout]="numberConfig?.upAndDownButtonLayout || ALL_UP_AND_DOWN_BUTTON_LAYOUTS.Default" 
                    [step]="numberConfig?.step"
                ></p-inputnumber>
                <label [for]="inputFieldConfig().id">{{inputFieldConfig().label}}</label>
            </p-floatlabel>
        }
        @case (ALL_FIELD_TYPES.Select) {
            <p-floatlabel [variant]="inputFieldConfig().floatLabelVariant">

                @let selectConfig = inputFieldConfig().selectConfig;
                @let optionsDropdownLength = selectConfig?.optionsDropdown?.length;
                <p-select
                    [id]="inputFieldConfig().id"
                    [fluid]="inputFieldConfig().haveFullWidth"
                    [size]="inputFieldConfig().fieldSize"
                    [formControlName]="inputFieldConfig().fieldName"
                    [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid}"
                    [options]="selectConfig?.optionsDropdown" 
                    [optionLabel]="selectConfig?.optionLabel" 
                    [optionValue]="selectConfig?.optionValue"
                    [checkmark]="selectConfig?.showCheckmark"
                    [filter]="(optionsDropdownLength) ? selectConfig?.haveFilter : false" 
                    [filterBy]="selectConfig?.filterBy" 
                    [loading]="(optionsDropdownLength) ? true : false" 
                    [showClear]="selectConfig?.showClearButton" 
                    [editable]="selectConfig?.isEditable"
                    [virtualScroll]="selectConfig?.virtualScroll" 
                    [virtualScrollItemSize]="selectConfig?.virtualScrollItemSize"
                    (onChange)="onChange()"
                ></p-select>
                <label [for]="inputFieldConfig().id">{{inputFieldConfig().label}}</label>
            </p-floatlabel>
        }
        @case (ALL_FIELD_TYPES.MultiSelect) {
            <p-floatlabel [variant]="inputFieldConfig().floatLabelVariant">

                @let multiSelectConfig = inputFieldConfig().multiSelectConfig;
                @let optionsDropdownLength = multiSelectConfig?.optionsDropdown?.length;

                <p-multiselect
                    [id]="inputFieldConfig().id"
                    [fluid]="inputFieldConfig().haveFullWidth"
                    [size]="inputFieldConfig().fieldSize"
                    [formControlName]="inputFieldConfig().fieldName"
                    [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid}"
                    [options]="multiSelectConfig?.optionsDropdown" 
                    [optionLabel]="multiSelectConfig?.optionLabel" 
                    [optionValue]="multiSelectConfig?.optionValue"
                    [maxSelectedLabels]="multiSelectConfig?.maxSelectedLabels"
                    [filter]="(optionsDropdownLength) ? multiSelectConfig?.haveFilter : false" 
                    [filterBy]="multiSelectConfig?.filterBy" 
                    [loading]="(optionsDropdownLength) ? true : false" 
                    [showToggleAll]="multiSelectConfig?.showToggleAll" 
                    [selectAll]="multiSelectConfig?.selectAll"
                    [display]="multiSelectConfig?.display || ALL_MULTI_SELECT_DISPLAY_TYPES.Chip" 
                    [showClear]="multiSelectConfig?.showClearButton"
                ></p-multiselect>
                <label [for]="inputFieldConfig().id">{{inputFieldConfig().label}}</label>
            </p-floatlabel>
        }
        @case (ALL_FIELD_TYPES.Date) {
            <p-floatlabel [variant]="inputFieldConfig().floatLabelVariant">

                @let dateConfig = inputFieldConfig().dateConfig;

                <p-datepicker 
                    [id]="inputFieldConfig().id"
                    [fluid]="inputFieldConfig().haveFullWidth"
                    [size]="inputFieldConfig().fieldSize"
                    [formControlName]="inputFieldConfig().fieldName"
                    [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid}"
                    [dateFormat]="dateConfig?.dateFormat" 
                    [showIcon]="dateConfig?.showCalendarIcon"
                    [iconDisplay]="dateConfig?.iconDisplay || ALL_DATE_ICON_DISPLAY_TYPES.Input" 
                    [timeOnly]="dateConfig?.timeOnly" 
                    [minDate]="dateConfig?.minDate" 
                    [maxDate]="dateConfig?.maxDate"
                    [showButtonBar]="dateConfig?.showButtonBar" 
                    [selectionMode]="dateConfig?.selectionMode || ALL_DATE_SELECTION_MODES.Single" 
                    [readonlyInput]="inputFieldConfig().readonlyInput" 
                    [showTime]="dateConfig?.showTime || false"
                    [hourFormat]="dateConfig?.hourFormat || ALL_HOUR_FORMATS.Twelve" 
                    [view]="dateConfig?.calendarView || ALL_CALENDAR_VIEWS.Date" 
                    [numberOfMonths]="dateConfig?.numberOfMonths || 1"
                ></p-datepicker>
                <label [for]="inputFieldConfig().id">{{inputFieldConfig().label}}</label>
            </p-floatlabel>
        }
        @case (ALL_FIELD_TYPES.Password) {
            <p-floatlabel [variant]="inputFieldConfig().floatLabelVariant">

                @let passwordConfig = inputFieldConfig().passwordConfig;

                <p-password
                    [inputId]="inputFieldConfig().id"
                    [fluid]="inputFieldConfig().haveFullWidth"
                    [size]="inputFieldConfig().fieldSize"
                    [formControlName]="inputFieldConfig().fieldName"
                    [autocomplete]="inputFieldConfig().autocomplete"
                    [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid}"
                    [feedback]="passwordConfig?.feedback || false"
                    [promptLabel]="passwordConfig?.promptLabel"
                    [weakLabel]="passwordConfig?.weakLabel"
                    [mediumLabel]="passwordConfig?.mediumLabel"
                    [strongLabel]="passwordConfig?.strongLabel"
                    [toggleMask]="passwordConfig?.toggleMask"
                    [strongRegex]="passwordConfig?.strongRegex || ''"
                    [mediumRegex]="passwordConfig?.mediumRegex || ''"
                ></p-password>
                <label [for]="inputFieldConfig().id">{{inputFieldConfig().label}}</label>
            </p-floatlabel>
        }
        @case (ALL_FIELD_TYPES.Checkbox) {

            <label>{{inputFieldConfig().label}}</label>

            @let checkboxConfig = inputFieldConfig().checkboxConfig;
            
            <div class="flex flex-{{checkboxConfig?.align || ALL_CHECKBOX_AND_RADIO_ALIGN.Vertical}} gap-4">

                @for (option of checkboxConfig?.options; track option.value) {
                    <div class="flex items-center">
                        <p-checkbox 
                            [inputId]="'checkbox-' + option.value" 
                            [formControlName]="inputFieldConfig().fieldName" 
                            [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid}"
                            [value]="option" 
                            [binary]="checkboxConfig?.binary || false" 
                            [indeterminate]="checkboxConfig?.indeterminate || false" 
                            [size]="inputFieldConfig().fieldSize"
                        ></p-checkbox>
                        <label [for]="'checkbox-' + option.value" class="ml-2"> {{ option.label }} </label>
                    </div>
                }
            </div>
        }
        @case (ALL_FIELD_TYPES.Radio) {

            <label>{{inputFieldConfig().label}}</label>

            @let radioConfig = inputFieldConfig().radioConfig;
            
            <div class="flex flex-{{radioConfig?.align || ALL_CHECKBOX_AND_RADIO_ALIGN.Vertical}} gap-4">

                @for (option of radioConfig?.options; track option.value) {
                    <div class="flex items-center">
                        <p-radioButton 
                            [inputId]="'radio-' + option.value" 
                            [formControlName]="'radioInput'" 
                            [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid}"
                            [value]="option" 
                            [size]="inputFieldConfig().fieldSize"
                        ></p-radioButton>
                        <label [for]="'radio-' + option.value" class="ml-2">{{ option.label }}</label>
                    </div>
                }
            </div>
        }
        @case (ALL_FIELD_TYPES.File) {

            @let fileConfig = inputFieldConfig().fileConfig;

            <p-fileupload
                [name]="inputFieldConfig().fieldName" 
                [id]="inputFieldConfig().id"
                [customUpload]="fileConfig?.customUpload"
                [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid}" 
                [multiple]="fileConfig?.multipleFiles" 
                [accept]="fileConfig?.acceptFileTypes" 
                [maxFileSize]="fileConfig?.maxFileSize" 
                [mode]="fileConfig?.mode"
                [auto]="fileConfig?.automaticUpload"
                [chooseLabel]="fileConfig?.chooseLabel"
                [cancelLabel]="fileConfig?.cancelLabel"
                [showUploadButton]="fileConfig?.showUploadButton"
                [showCancelButton]="fileConfig?.showCancelButton"
            ></p-fileupload>
        }
        @case (ALL_FIELD_TYPES.TextArea) {
            <p-floatlabel [variant]="inputFieldConfig().floatLabelVariant">

                @let textAreaConfig = inputFieldConfig().textAreaConfig;

                <textarea 
                    pTextarea 
                    [id]="inputFieldConfig().id"
                    [fluid]="inputFieldConfig().haveFullWidth"
                    [pSize]="inputFieldConfig().fieldSize"
                    [formControlName]="inputFieldConfig().fieldName"
                    [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid}"
                    [rows]="textAreaConfig?.rows"
                    [cols]="textAreaConfig?.cols"
                    [autoResize]="textAreaConfig?.autoResize"
                ></textarea>
                <label [for]="inputFieldConfig().id">{{inputFieldConfig().label}}</label>
            </p-floatlabel>
        }
        @case (ALL_FIELD_TYPES.Individual_Number) {

            @let individualNumberConfig = inputFieldConfig().individualNumberConfig;

                <p-inputotp 
                    [id]="inputFieldConfig().id"
                    [length]="individualNumberConfig?.length || 2"
                    [size]="inputFieldConfig().fieldSize"
                    [integerOnly]="individualNumberConfig?.integerOnly || true"
                    [formControlName]="inputFieldConfig().fieldName"
                    [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid}"
                >
                    <ng-template #input let-token let-events="events" let-index="index">
                        <input 
                            type="text" 
                            [maxLength]="1" 
                            (input)="events.input($event)" 
                            (keydown)="events.keydown($event)" 
                            [attr.value]="token" 
                            class="p-inputtext p-component individual-number-input"
                        />
                        @let separators = individualNumberConfig?.separators;
                        @if (separators && separators.length > 0) {
                            @for (separator of separators; track separator.position) {
                                @if (index === separator.position) {
                                    <div class="px-2">
                                        <span [innerHTML]="separator.content"></span>
                                    </div>
                                }
                            }
                        }
                    </ng-template>
                </p-inputotp>
                <label [for]="inputFieldConfig().id">{{inputFieldConfig().label}}</label>
        }
    }
    @if (isFieldInvalid) {
        <small class="p-error">{{errorMessage }}</small>   
    }
</div>