<app-auth-layout
  title="Reset Password"
  subtitle="Enter your new password"
  footerText="Remember your password?"
  footerLinkText="Back to Login"
  (footerLinkAction)="onBackToLogin()"
>

  <form 
    (ngSubmit)="onSubmit()"
    class="form auth-form"
  >
    <!-- New Password field -->
    <app-input-field 
      [formGroup]="formGroup" 
      [inputFieldConfig]="fieldConfigs()['password']"
    ></app-input-field>

    <!-- Confirm Password field -->
    <app-input-field 
      [formGroup]="formGroup" 
      [inputFieldConfig]="fieldConfigs()['confirmPassword']"
    ></app-input-field>

    <!-- Submit button -->
    <p-button 
      [loading]="loading()"
      [disabled]="loading()"
      label="Reset Password" 
      size="large"
      type="submit"
      [style]="{'width': '100%'}"
    ></p-button>
  </form>

</app-auth-layout>

<!-- Toast notifications -->
<p-toast></p-toast>
