<ng-template
  #docWorkspaceContextDetail
  let-entry
>
  <app-doc-workspace-context [view]="$any(entry.value)" />
</ng-template>

<ng-template
  #poDetailPoAmounts
  let-entry
>
  @let v = $any(entry.value);
  <app-doc-amount [segments]="docPoDrawerTaxGstSegments(v)" />
</ng-template>

<ng-template
  #poDetailInvoiceTotals
  let-entry
>
  @let v = $any(entry.value);
  <app-doc-amount [segments]="docPoDrawerInvoicePaymentSegments(v)" />
</ng-template>

<app-view-detail
  [drawerDetails]="_poDetails()"
  [customTemplates]="{
    docWorkspaceContextDetail: docWorkspaceContextDetail,
    poDetailPoAmounts: poDetailPoAmounts,
    poDetailInvoiceTotals: poDetailInvoiceTotals,
  }"
/>
