# Node modules (already installed inside Docker)
node_modules

# Angular build output
dist
.tmp
out-tsc
.angular

# Tests & coverage
coverage
**/*.spec.ts
karma.conf.js

# Editor & OS-specific files
.vscode
.idea
*.swp
*.swo
*.swn
*.bak
*.log
.DS_Store
Thumbs.db

# Git-related files
.git
.gitignore
.github

# Docker-related files
Dockerfile
docker-compose.override.yml

# Docs & misc
README.md
*.md
!docker/**
