{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "quoteProps": "as-needed",
  "htmlWhitespaceSensitivity": "css",
  "vueIndentScriptAndStyle": false,
  "embeddedLanguageFormatting": "auto",
  "singleAttributePerLine": true,
  "bracketSameLine": false,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "singleAttributePerLine": true,
        "bracketSameLine": false,
        "htmlWhitespaceSensitivity": "ignore",
        "printWidth": 120
      }
    },
    {
      "files": "*.component.html",
      "options": {
        "singleAttributePerLine": true,
        "bracketSameLine": false,
        "htmlWhitespaceSensitivity": "ignore",
        "printWidth": 120
      }
    },
    {
      "files": "*.scss",
      "options": {
        "singleQuote": false,
        "printWidth": 120
      }
    },
    {
      "files": "*.json",
      "options": {
        "singleQuote": false,
        "trailingComma": "none"
      }
    }
  ]
} 