<p-inplace [preventClick]="!shouldTruncate()">
  <!-- COLLAPSED VIEW -->
  <ng-template #display>
    <span class="read-more-text">
      {{ shouldTruncate() ? `${truncatedText()}...` : text() || 'N/A' }}

      @if (shouldTruncate()) {
        <span class="text-blue-600 hover:underline cursor-pointer ml-1">
          {{ readMoreText() }}
        </span>
      }
    </span>
  </ng-template>

  <!-- EXPANDED VIEW -->
  <ng-template
    #content
    let-closeCallback="closeCallback"
  >
    <span class="read-more-text">
      {{ text() }}

      <button
        type="button"
        class="text-blue-600 hover:underline ml-1 bg-transparent border-0 p-0 cursor-pointer"
        (click)="closeCallback($event)"
      >
        {{ readLessText() }}
      </button>
    </span>
  </ng-template>
</p-inplace>
