<app-page-header [pageHeaderConfig]="pageHeaderConfig()" />

@if (hasAssetSelected()) {
  <app-metrics-card [metricGroups]="metricGroups()" />
}

<div class="search-filter-wrapper">
  <app-search-filter
    [tableRef]="dataTable.dt()"
    [searchFilterConfig]="searchFilterConfig"
    [prefillValues]="prefillValues()"
    (onFilterSubmit)="onFilterSubmit($event)"
    (onFilterReset)="onFilterReset()"
  />
</div>

<app-data-table
  #dataTable
  [class.hidden]="!hasAssetSelected()"
  [tableConfig]="table.tableConfig()"
  [tableHeader]="table.headers()"
  [tableData]="table.data()"
  [loading]="table.loading()"
  [bulkActionButtons]="table.bulkActions()"
  [rowActions]="table.rowActions()"
  (filterData)="onTableStateChange($event)"
/>

@if (!hasAssetSelected()) {
  <app-empty-messages
    [icon]="ICONS.ASSET.BOX"
    title="No Asset Selected"
    description="Please select an asset from the dropdown above to view its event history."
  />
}
