<app-page-header [pageHeaderConfig]="pageHeaderConfig()" />

<form
  (ngSubmit)="onSubmit()"
  [formGroup]="form.formGroup"
  class="form"
>
  <app-input-field
    [formGroup]="form.formGroup"
    [inputFieldConfig]="form.fieldConfigs['employeeName']"
  />

  <!-- Earnings Section -->
  <div class="form-section">
    <div class="form-section__header form-section__header--bordered">
      <h3 class="form-section__title">Earnings</h3>
    </div>
    <div class="form-section__content">
      <div class="grid grid-cols-1 md:grid-cols-2">
        <app-input-field
          [formGroup]="form.formGroup"
          [inputFieldConfig]="form.fieldConfigs['basicSalary']"
        />

        <app-input-field
          [formGroup]="form.formGroup"
          [inputFieldConfig]="form.fieldConfigs['hra']"
        />
      </div>
    </div>
  </div>

  <!-- Deductions Section -->
  <div class="form-section">
    <div class="form-section__header form-section__header--bordered">
      <h3 class="form-section__title">Deductions</h3>
    </div>
    <div class="form-section__content">
      <div class="grid grid-cols-1 md:grid-cols-3">
        <app-input-field
          [formGroup]="form.formGroup"
          [inputFieldConfig]="form.fieldConfigs['tds']"
        />

        <app-input-field
          [formGroup]="form.formGroup"
          [inputFieldConfig]="form.fieldConfigs['esicContribution']"
        />

        <app-input-field
          [formGroup]="form.formGroup"
          [inputFieldConfig]="form.fieldConfigs['pfContribution']"
        />
      </div>
    </div>
  </div>

  <!-- Food Allowance Section -->
  <div class="form-section">
    <div
      class="form-section__header form-section__header--bordered form-section__header form-section__header--bordered--bordered"
    >
      <h3 class="form-section__title">Food Allowance</h3>
      <span class="form-section__subtitle">(Not part of CTC)</span>
    </div>
    <div class="form-section__content">
      <div class="grid grid-cols-1 md:grid-cols-1">
        <app-input-field
          [formGroup]="form.formGroup"
          [inputFieldConfig]="form.fieldConfigs['foodAllowance']"
        />
      </div>
    </div>
  </div>

  <!-- Summary Section -->
  <app-salary-summary [salaryFields]="salaryFields()" />

  <div class="button-container">
    <app-button
      [buttonConfig]="form.buttonConfigs['reset']"
      (onButtonClick)="onReset()"
    />

    <app-button
      [buttonConfig]="form.buttonConfigs['submit']"
      [showButtonLoader]="isSubmitting()"
    />
  </div>
</form>
