<app-auth-layout 
	title="Sign in"
	subtitle="to Eureka Enterprises"
	footerText="Don't have an account?"
	footerLinkText="Contact Administrator"
	(footerLinkAction)="onContactAdmin()"
>

	<form 
		(ngSubmit)="onSubmit()"
		class="form auth-form"
	>
		<!-- Username field -->
		<app-input-field 
			[formGroup]="formGroup" 
			[inputFieldConfig]="fieldConfigs()['username']"
		></app-input-field>


		<!-- Password field -->
		<app-input-field 
			[formGroup]="formGroup"
			[inputFieldConfig]="fieldConfigs()['password']"
		></app-input-field>


		<!-- Remember me and forgot password -->
		<div class="flex items-center justify-between mb-6 gap-4">
			<div class="flex-shrink-0">
				<app-input-field 
					[formGroup]="formGroup"
					[inputFieldConfig]="fieldConfigs()['rememberMe']"
				></app-input-field>
			</div>

			<div class="flex-shrink-0">
				<p-button
					(click)="onForgotPassword()"
					[link]="true"
					[label]="'Forgot password?'"
					[size]="'small'"
				></p-button>
			</div>
		</div>


		<!-- Sign in button -->
		<p-button 
			[loading]="loading()"
			[disabled]="loading()"
			label="Sign in"
			size="large"
			type="submit"
			[style]="{'width': '100%'}"
		></p-button>
	</form>
</app-auth-layout>

<!-- Toast notifications -->
<p-toast></p-toast>
