<app-page-header
  [pageHeaderConfig]="pageHeaderConfig()"
  (headerButtonClick)="onAddButtonClick()"
/>

<div class="content-wrapper">
  <div class="metrics-grid">
    @for (metric of metricsCards(); track metric.title) {
      <app-metrics-card [metricCardConfig]="metric" />
    }
  </div>

  <div class="mb-5">
    <app-search-filter [searchFilterConfig]="searchFilterConfig" />
  </div>

  <app-data-table
    [tableConfig]="table.tableConfig()"
    [tableHeader]="table.headers()"
    [tableData]="table.data()"
    [loading]="table.loading()"
    [bulkActionButtons]="table.bulkActions()"
    [rowActions]="table.rowActions()"
    (rowActionClick)="handleAttendanceTableActionClick($any($event), false)"
    (bulkActionClick)="handleAttendanceTableActionClick($any($event), true)"
  />
</div>
