<app-page-header [pageHeaderConfig]="pageHeaderConfig()" />

<div class="search-filter-wrapper">
  <app-search-filter
    [tableRef]="dataTable.dt()"
    [searchFilterConfig]="searchFilterConfig"
  />
</div>

<app-data-table
  #dataTable
  [tableConfig]="table.tableConfig()"
  [tableHeader]="table.headers()"
  [tableData]="table.data()"
  [loading]="table.loading()"
  [bulkActionButtons]="table.bulkActions()"
  [rowActions]="table.rowActions()"
  [customBodyTemplates]="{
    cronRequiredParameters: cronRequiredParameters,
    cronDependencies: cronDependencies,
  }"
  (rowActionClick)="handleCronTableActionClick($any($event), false)"
  (bulkActionClick)="handleCronTableActionClick($any($event), true)"
/>

<ng-template
  #cronRequiredParameters
  let-row
>
  @if (row.requiredParameters?.length) {
    <ul
      class="cron-value-stack"
      role="list"
    >
      @for (p of row.requiredParameters; track p + $index) {
        <li
          class="cron-value-row"
          [attr.data-tone]="accentTone(p)"
          role="listitem"
        >
          <span
            class="cron-value-row__bar"
            aria-hidden="true"
          ></span>
          <span
            class="cron-value-row__label"
            [attr.title]="p"
          >
            {{ formatCronLabel(p) }}
          </span>
        </li>
      }
    </ul>
  } @else {
    <span class="cron-value-stack__empty">N/A</span>
  }
</ng-template>

<ng-template
  #cronDependencies
  let-row
>
  @if (row.dependencies?.length) {
    <ul
      class="cron-value-stack"
      role="list"
    >
      @for (d of row.dependencies; track d + $index) {
        <li
          class="cron-value-row"
          [attr.data-tone]="accentTone(d)"
          role="listitem"
        >
          <span
            class="cron-value-row__bar"
            aria-hidden="true"
          ></span>
          <span
            class="cron-value-row__label"
            [attr.title]="d"
          >
            {{ formatCronLabel(d) }}
          </span>
        </li>
      }
    </ul>
  } @else {
    <span class="cron-value-stack__empty">N/A</span>
  }
</ng-template>
