<app-page-header [pageHeaderConfig]="pageHeaderConfig()" />

<form
  (ngSubmit)="onSubmit()"
  [formGroup]="form.formGroup"
  class="form"
>
  <!-- Vehicle Details Section -->
  <div class="form-section">
    <div class="form-section__header form-section__header--bordered">
      <h3 class="form-section__title">Vehicle Details</h3>
    </div>
    <div class="form-section__content">
      <div class="grid grid-cols-1 md:grid-cols-2">
        @if (form.fieldConfigs.vehicleRegistrationNo) {
          <app-input-field
            [formGroup]="form.formGroup"
            [inputFieldConfig]="form.fieldConfigs.vehicleRegistrationNo"
          />
        }

        <app-input-field
          [formGroup]="form.formGroup"
          [inputFieldConfig]="form.fieldConfigs.vehicleFuelType"
        />
      </div>

      <div class="grid grid-cols-1 md:grid-cols-3">
        <app-input-field
          [formGroup]="form.formGroup"
          [inputFieldConfig]="form.fieldConfigs.vehicleBrand"
        />

        <app-input-field
          [formGroup]="form.formGroup"
          [inputFieldConfig]="form.fieldConfigs.vehicleModel"
        />

        <app-input-field
          [formGroup]="form.formGroup"
          [inputFieldConfig]="form.fieldConfigs.vehicleMileage"
        />
      </div>
    </div>
  </div>

  <!-- Vendor & Purchase Details Section -->
  <div class="form-section">
    <div class="form-section__header form-section__header--bordered">
      <h3 class="form-section__title">Vendor & Purchase Details</h3>
    </div>
    <div class="form-section__content">
      <div class="grid grid-cols-1 md:grid-cols-2">
        <app-input-field
          [formGroup]="form.formGroup"
          [inputFieldConfig]="form.fieldConfigs.vehiclePurchaseDate"
        />

        <app-input-field
          [formGroup]="form.formGroup"
          [inputFieldConfig]="form.fieldConfigs.vehicleDealerName"
        />
      </div>

      <div class="grid grid-cols-1 md:grid-cols-3">
        <app-input-field
          [formGroup]="form.formGroup"
          [inputFieldConfig]="form.fieldConfigs.vehicleInsuranceDate"
        />

        <app-input-field
          [formGroup]="form.formGroup"
          [inputFieldConfig]="form.fieldConfigs.vehiclePUCDate"
        />

        <app-input-field
          [formGroup]="form.formGroup"
          [inputFieldConfig]="form.fieldConfigs.vehicleFitnessDate"
        />
      </div>
    </div>
  </div>

  <!-- Attachments & Remarks Section -->
  <div class="form-section">
    <div class="form-section__header form-section__header--bordered">
      <h3 class="form-section__title">Attachments & Remarks</h3>
    </div>
    <div class="form-section__content">
      <app-input-field
        [formGroup]="form.formGroup"
        [inputFieldConfig]="form.fieldConfigs.vehicleFiles"
      />

      <app-input-field
        [formGroup]="form.formGroup"
        [inputFieldConfig]="form.fieldConfigs['remarks']"
      />
    </div>
  </div>

  <div class="button-container">
    <app-button
      [buttonConfig]="form.buttonConfigs['reset']"
      (onButtonClick)="onReset()"
    />

    <app-button
      [buttonConfig]="form.buttonConfigs['submit']"
      [showButtonLoader]="isSubmitting()"
    />
  </div>
</form>
