@if (!viewOnly()) {
  <app-input-field
    [formGroup]="formGroup()"
    [inputFieldConfig]="fieldConfigs().assignedDriver"
  />
} @else {
  @let labels = displayLabels();
  @let hasDriver = labels.driver !== '-';

  @if (hasDriver) {
    <div class="assignment-readonly">
      <div class="assignment-readonly__tile">
        <span
          class="assignment-readonly__icon assignment-readonly__icon--person"
          aria-hidden="true"
        >
          <i [class]="ALL_ICONS.COMMON.USER"></i>
        </span>
        <div class="assignment-readonly__text">
          <span class="assignment-readonly__label">{{ labels.driverLabel }}</span>
          <span class="assignment-readonly__value">
            {{ labels.driver | textCase: 'title' }}
          </span>
        </div>
      </div>
    </div>
  } @else {
    <span class="assignment-readonly__empty">No assigned driver</span>
  }
}
