<div class="assignment-card">
  <div class="assignment-card__header">
    <h3 class="assignment-card__title">Assignment Details</h3>
    <ng-content />
  </div>

  <div class="assignment-rows">
    @if (!viewOnly()) {
      <div class="assignment-row assignment-row--input">
        <app-input-field
          [formGroup]="formGroup()"
          [inputFieldConfig]="fieldConfigs().company"
        />
      </div>
      <div class="assignment-row assignment-row--input">
        <app-input-field
          [formGroup]="formGroup()"
          [inputFieldConfig]="fieldConfigs().contractor"
        />
      </div>
      <div class="assignment-row assignment-row--input">
        <app-input-field
          [formGroup]="formGroup()"
          [inputFieldConfig]="fieldConfigs().vehicle"
        />
      </div>
      <div class="assignment-row assignment-row--input">
        <app-input-field
          [formGroup]="formGroup()"
          [inputFieldConfig]="fieldConfigs().assignedDriver"
        />
      </div>
    } @else {
      @let labels = displayLabels();
      @let companyLocation = formatLocationLine(labels.companyCity, labels.companyState);
      @let contractorLocation = formatLocationLine(labels.contractorCity, labels.contractorState);

      <div class="assignment-preview">
        @if (labels.companyName !== '-') {
          <div class="assignment-preview__row">
            <span class="assignment-preview__icon assignment-preview__icon--company" aria-hidden="true">
              <i [class]="ALL_ICONS.COMMON.MAP_MARKER"></i>
            </span>
            <div class="assignment-preview__text">
              <span class="assignment-preview__label">Company</span>
              <span class="assignment-preview__value">
                {{ labels.companyName | textCase: 'title' }}
              </span>
              @if (companyLocation) {
                <span class="assignment-preview__meta">{{ companyLocation }}</span>
              }
            </div>
          </div>
        }

        @if (labels.contractorName !== '-') {
          <div class="assignment-preview__row">
            <span class="assignment-preview__icon assignment-preview__icon--contractor" aria-hidden="true">
              <i [class]="ALL_ICONS.SITE.BUILDING"></i>
            </span>
            <div class="assignment-preview__text">
              <span class="assignment-preview__label">Contractor</span>
              <span class="assignment-preview__value">
                {{ labels.contractorName | textCase: 'title' }}
              </span>
              @if (contractorLocation) {
                <span class="assignment-preview__meta">{{ contractorLocation }}</span>
              }
            </div>
          </div>
        }

        @if (labels.driver !== '-') {
          <div class="assignment-preview__row">
            <span class="assignment-preview__icon assignment-preview__icon--person" aria-hidden="true">
              <i [class]="ALL_ICONS.COMMON.USER"></i>
            </span>
            <div class="assignment-preview__text">
              <span class="assignment-preview__label">Assigned Driver</span>
              <span class="assignment-preview__value">
                {{ labels.driver | textCase: 'title' }}
              </span>
            </div>
          </div>
        }

        @if (labels.vehicle !== '-') {
          <div class="assignment-preview__row">
            <span class="assignment-preview__icon assignment-preview__icon--vehicle" aria-hidden="true">
              <i [class]="ALL_ICONS.COMMON.CAR"></i>
            </span>
            <div class="assignment-preview__text">
              <span class="assignment-preview__label">Vehicle</span>
              <span class="assignment-preview__value">
                {{ labels.vehicle | textCase: 'title' }}
              </span>
            </div>
          </div>
        }
      </div>
    }
  </div>
</div>
