<div class="knob-container">
  <div class="knob-wrapper">
    <p-knob
      [(ngModel)]="knobConfig().value"
      [min]="knobConfig().min"
      [max]="knobConfig().max"
      [step]="knobConfig().step"
      [readonly]="knobConfig().readonly"
      [disabled]="knobConfig().disabled"
      [strokeWidth]="knobConfig().strokeWidth"
      [showValue]="knobConfig().showValue"
      [size]="knobConfig().size"
      [valueTemplate]="knobConfig().valueTemplate ?? '{value}'"
    ></p-knob>
  </div>
</div>
