<div style="padding: 50px;">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <app-input-field [formGroup]="formGroup" [inputFieldConfig]="fieldConfigs()['fname']"></app-input-field>

        <app-input-field [formGroup]="formGroup" [inputFieldConfig]="fieldConfigs()['aadharNumber']"></app-input-field>

        <app-input-field [formGroup]="formGroup" [inputFieldConfig]="fieldConfigs()['role']"></app-input-field>

        <app-input-field [formGroup]="formGroup" [inputFieldConfig]="fieldConfigs()['workOn']"></app-input-field>

        <app-input-field [formGroup]="formGroup" [inputFieldConfig]="fieldConfigs()['dob']"></app-input-field>

        <app-input-field [formGroup]="formGroup" [inputFieldConfig]="fieldConfigs()['password']"></app-input-field>

        <app-input-field [formGroup]="formGroup" [inputFieldConfig]="fieldConfigs()['checkboxInput']"></app-input-field>

        <app-input-field [formGroup]="formGroup" [inputFieldConfig]="fieldConfigs()['radioInput']"></app-input-field>

        <app-input-field [formGroup]="formGroup" [inputFieldConfig]="fieldConfigs()['fileInput']"></app-input-field>

        <div class="flex gap-2 mt-4">
            <button pButton type="submit" 
                label="Submit" 
                [loading]="isSubmitting()"
                [disabled]="isSubmitting()"
                class="p-button-primary">
            </button>
            <button pButton type="button" 
                label="Reset" 
                (click)="resetForm()"
                [disabled]="isSubmitting()"
                class="p-button-secondary">
            </button>
        </div>
    </form>
</div>