.form-container {
    padding: 50px;
    
    .form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        
        .button-container {
            display: flex;
            gap: 0.5rem;
            margin-top: 1rem;
        } 
    }
}

