<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form">
    <app-input-field [formGroup]="formGroup" [inputFieldConfig]="fieldConfigs()['fname']"></app-input-field>

    <app-input-field [formGroup]="formGroup" [inputFieldConfig]="fieldConfigs()['aadharNumber']"></app-input-field>

    <app-input-field [formGroup]="formGroup" [inputFieldConfig]="fieldConfigs()['role']"></app-input-field>

    <app-input-field [formGroup]="formGroup" [inputFieldConfig]="fieldConfigs()['workOn']"></app-input-field>

    <app-input-field [formGroup]="formGroup" [inputFieldConfig]="fieldConfigs()['dob']"></app-input-field>

    <app-input-field [formGroup]="formGroup" [inputFieldConfig]="fieldConfigs()['password']"></app-input-field>

    <app-input-field [formGroup]="formGroup" [inputFieldConfig]="fieldConfigs()['checkboxInput']"></app-input-field>

    <app-input-field [formGroup]="formGroup" [inputFieldConfig]="fieldConfigs()['radioInput']"></app-input-field>

    <app-input-field [formGroup]="formGroup" [inputFieldConfig]="fieldConfigs()['fileInput']"></app-input-field>

    <div class="button-container">
        <button pButton type="submit" 
            label="Submit" 
            [loading]="loading()"
            [disabled]="loading()"
            class="p-button-primary">
        </button>
        <button pButton type="button" 
            label="Reset" 
            (click)="resetForm()"
            [disabled]="loading()"
            class="p-button-secondary">
        </button>
        <button pButton type="button" 
            label="Cancel" 
            (click)="onCancel()"
            [disabled]="loading()"
            class="p-button-text">
        </button>
    </div>
</form>