<form
  [formGroup]="form.formGroup"
  class="form"
>
  <app-input-field
    [formGroup]="form.formGroup"
    [inputFieldConfig]="form.fieldConfigs.projectName"
  />

  @if (docContext() === EDocContext.PURCHASE) {
    <app-input-field
      [formGroup]="form.formGroup"
      [inputFieldConfig]="form.fieldConfigs.vendorName"
    />
  }

  @if (docContext() === EDocContext.SALES) {
    <app-input-field
      [formGroup]="form.formGroup"
      [inputFieldConfig]="form.fieldConfigs.contractorName"
    />
  }

  <app-input-field
    [formGroup]="form.formGroup"
    [inputFieldConfig]="form.fieldConfigs.poNumber"
  />
  <app-input-field
    [formGroup]="form.formGroup"
    [inputFieldConfig]="form.fieldConfigs.poDate"
  />

  <app-input-field
    [formGroup]="form.formGroup"
    [inputFieldConfig]="form.fieldConfigs.taxableAmount"
  />

  <div class="grid grid-cols-1 md:grid-cols-2">
    <app-input-field
      [formGroup]="form.formGroup"
      [inputFieldConfig]="form.fieldConfigs.gstPercent"
    />
    <app-input-field
      [formGroup]="form.formGroup"
      [inputFieldConfig]="form.fieldConfigs.gstAmount"
    />
  </div>

  <app-input-field
    [formGroup]="form.formGroup"
    [inputFieldConfig]="form.fieldConfigs.totalAmount"
  />

  <app-input-field
    [formGroup]="form.formGroup"
    [inputFieldConfig]="form.fieldConfigs.poAttachment"
  />

  <app-input-field
    [formGroup]="form.formGroup"
    [inputFieldConfig]="form.fieldConfigs.remarks"
  />
</form>
