@if (form) {
  <form
    [formGroup]="form.formGroup"
    class="form"
  >
    <app-input-field
      [formGroup]="form.formGroup"
      [inputFieldConfig]="form.fieldConfigs.projectName"
    />

    <app-input-field
      [formGroup]="form.formGroup"
      [inputFieldConfig]="form.fieldConfigs.invoiceNumber"
    />

    @if (selectedInvoiceMeta(); as meta) {
      <app-book-payment-invoice-summary [meta]="meta" />
    }

    <app-input-field
      [formGroup]="form.formGroup"
      [inputFieldConfig]="form.fieldConfigs.bookingDate"
    />

    <app-input-field
      [formGroup]="form.formGroup"
      [inputFieldConfig]="form.fieldConfigs.taxableAmount"
    />

    <app-input-field
      [formGroup]="form.formGroup"
      [inputFieldConfig]="form.fieldConfigs.paymentHoldReason"
    />

    <app-input-field
      [formGroup]="form.formGroup"
      [inputFieldConfig]="form.fieldConfigs.remarks"
    />
  </form>
}
