@if (form) {
  <form
    [formGroup]="form.formGroup"
    class="form"
  >
    <app-input-field
      [formGroup]="form.formGroup"
      [inputFieldConfig]="form.fieldConfigs.projectName"
    />

    <app-input-field
      [formGroup]="form.formGroup"
      [inputFieldConfig]="form.fieldConfigs.invoiceNumber"
    />

    @if (docContext() === EDocContext.PURCHASE) {
      <app-input-field
        [formGroup]="form.formGroup"
        [inputFieldConfig]="form.fieldConfigs.bookPaymentNumber"
      />
    }

    <app-input-field
      [formGroup]="form.formGroup"
      [inputFieldConfig]="form.fieldConfigs.paidFromAccount"
    />

    <app-input-field
      [formGroup]="form.formGroup"
      [inputFieldConfig]="form.fieldConfigs.utrNumber"
    />

    <app-input-field
      [formGroup]="form.formGroup"
      [inputFieldConfig]="form.fieldConfigs.transferDate"
    />

    @if (docContext() === EDocContext.SALES) {
      <app-input-field
        [formGroup]="form.formGroup"
        [inputFieldConfig]="form.fieldConfigs.transferAmount"
      />
    }

    <app-input-field
      [formGroup]="form.formGroup"
      [inputFieldConfig]="form.fieldConfigs.proofAttachment"
    />

    <app-input-field
      [formGroup]="form.formGroup"
      [inputFieldConfig]="form.fieldConfigs.remarks"
    />
  </form>
}
