<app-page-header 
    [pageHeaderConfig]="pageHeaderConfig()"
></app-page-header>

<form 
    (ngSubmit)="onSubmit()"
    [formGroup]="form.formGroup"
    class="form"
>

    <app-input-field 
        [formGroup]="form.formGroup" 
        [inputFieldConfig]="form.fieldConfigs['comment']"
    ></app-input-field>

    <div class="pt-4 border-t border-gray-200 button-container">
        <app-button 
            [buttonConfig]="form.buttonConfigs['reset']"
            (onButtonClick)="onReset()"
        ></app-button>
        
        <app-button 
            [buttonConfig]="form.buttonConfigs['submit']"
            [showButtonLoader]="isSubmitting()"
        ></app-button>
    </div>

</form>

<p-toast></p-toast>
