<app-page-header
  [pageHeaderConfig]="pageHeaderConfig()"
  (headerButtonClick)="onHeaderButtonClick($event)"
/>

<div class="metrics-card-wrapper">
  <app-metrics-card [metricCardConfig]="metricsCards()" />
</div>

<div class="search-filter-wrapper">
  <app-search-filter
    [tableRef]="dataTable.dt()"
    [searchFilterConfig]="searchFilterConfig"
  />
</div>

<app-data-table
  #dataTable
  [tableConfig]="table.tableConfig()"
  [tableHeader]="table.headers()"
  [tableData]="table.data()"
  [loading]="table.loading()"
  [bulkActionButtons]="table.bulkActions()"
  [rowActions]="table.rowActions()"
  (rowActionClick)="handleVehicleTableActionClick($any($event), false)"
  (bulkActionClick)="handleVehicleTableActionClick($any($event), true)"
  (filterData)="onTableStateChange($event)"
/>
