<form
  [formGroup]="form.formGroup"
  class="form"
>
  <app-input-field
    [formGroup]="form.formGroup"
    [inputFieldConfig]="form.fieldConfigs.attendanceStatus"
  />

  @if (showRoleAssignmentFields()) {
    <app-attendance-assignment-fields
      [formGroup]="form.formGroup"
      [fieldConfigs]="form.fieldConfigs"
      [isDriver]="showDriverAssignmentFields()"
      [editSiteFields]="true"
      [assignmentPayload]="selectedRecord()[0]?.assignmentSnapshot ?? null"
      [(submitPayload)]="assignmentSubmitPayload"
    />
  }
</form>
