<form
  [formGroup]="form.formGroup"
  class="form"
>
  <app-input-field
    [formGroup]="form.formGroup"
    [inputFieldConfig]="form.fieldConfigs.projectName"
  />

  <app-input-field
    [formGroup]="form.formGroup"
    [inputFieldConfig]="form.fieldConfigs.jmcNumber"
  />

  <app-input-field
    [formGroup]="form.formGroup"
    [inputFieldConfig]="form.fieldConfigs.invoiceNumber"
  />

  <app-input-field
    [formGroup]="form.formGroup"
    [inputFieldConfig]="form.fieldConfigs.invoiceDate"
  />

  <app-input-field
    [formGroup]="form.formGroup"
    [inputFieldConfig]="form.fieldConfigs.taxableAmount"
  />

  <div class="grid grid-cols-1 md:grid-cols-2">
    <app-input-field
      [formGroup]="form.formGroup"
      [inputFieldConfig]="form.fieldConfigs.gstPercent"
    />
    <app-input-field
      [formGroup]="form.formGroup"
      [inputFieldConfig]="form.fieldConfigs.gstAmount"
    />
  </div>

  <app-input-field
    [formGroup]="form.formGroup"
    [inputFieldConfig]="form.fieldConfigs.totalAmount"
  />

  <app-input-field
    [formGroup]="form.formGroup"
    [inputFieldConfig]="form.fieldConfigs.invoiceAttachment"
  />

  <app-input-field
    [formGroup]="form.formGroup"
    [inputFieldConfig]="form.fieldConfigs.remarks"
  />
</form>
