<form
  [formGroup]="form.formGroup"
  class="form"
>
  <app-input-field
    [formGroup]="form.formGroup"
    [inputFieldConfig]="form.fieldConfigs.projectName"
  />

  <app-input-field
    [formGroup]="form.formGroup"
    [inputFieldConfig]="form.fieldConfigs.poNumber"
  />

  @if (!isSystemGenerated() && showNoJmcOption()) {
    <app-input-field
      [formGroup]="form.formGroup"
      [inputFieldConfig]="form.fieldConfigs.isNoJmc"
    />
  }

  @if (!isSystemGenerated() && showJmcDetails()) {
    <app-input-field
      [formGroup]="form.formGroup"
      [inputFieldConfig]="form.fieldConfigs.jmcNumber"
    />
  }

  @if (showJmcDetails()) {
    <app-input-field
      [formGroup]="form.formGroup"
      [inputFieldConfig]="form.fieldConfigs.jmcDate"
    />
  }

  @if (isSystemGenerated()) {
    <app-input-field
      [formGroup]="form.formGroup"
      [inputFieldConfig]="form.fieldConfigs.items"
    />
  }

  @if (!isSystemGenerated() && showJmcDetails()) {
    <app-input-field
      [formGroup]="form.formGroup"
      [inputFieldConfig]="form.fieldConfigs.jmcAttachment"
    />
  }

  <app-input-field
    [formGroup]="form.formGroup"
    [inputFieldConfig]="form.fieldConfigs.remarks"
  />
</form>
