<ng-template
  #docWorkspaceContext
  let-row
>
  <app-doc-workspace-context [view]="row.docWorkspaceContext" />
</ng-template>

<ng-template
  #gstDocumentReference
  let-row
>
  <app-doc-reference [root]="row.documentReferenceHierarchy" />
</ng-template>

<ng-template
  #gstAmountBreakdown
  let-row
>
  <app-doc-amount [segments]="docGstAmountSegments(row)" />
</ng-template>

<app-page-header
  [pageHeaderConfig]="pageHeaderConfig()"
  (headerButtonClick)="onHeaderButtonClick($event)"
>
  <div
    headerFilter
    class="gst-header-filters"
  >
    <app-input-field
      [inputFieldConfig]="partyTypeFilterFieldConfig"
      [fieldValue]="selectedPartyType()"
      (onFieldChange)="onPartyTypeFilterChange($event)"
    />
    <app-input-field
      [inputFieldConfig]="isVerifiedFilterFieldConfig"
      [fieldValue]="selectedIsVerified()"
      (onFieldChange)="onIsVerifiedFilterChange($event)"
    />
  </div>
</app-page-header>

<app-data-table
  #dataTable
  [tableConfig]="table.tableConfig()"
  [tableHeader]="table.headers()"
  [tableData]="table.data()"
  [loading]="table.loading()"
  [bulkActionButtons]="table.bulkActions()"
  [rowActions]="table.rowActions()"
  [customBodyTemplates]="{
    docWorkspaceContext: docWorkspaceContext,
    gstDocumentReference: gstDocumentReference,
    gstAmountBreakdown: gstAmountBreakdown,
  }"
  (filterData)="onTableStateChange($event)"
  (rowActionClick)="handleGstEntryTableActionClick($any($event))"
/>
