<ng-template
  #permissionCountUser
  let-row
>
  <div class="flex flex-col gap-1.5 text-sm whitespace-nowrap">
    <div class="flex items-center gap-1.5">
      <span class="text-content-secondary">Granted User Permissions:</span>
      <span class="text-content">{{ row.userPermissionCount.grantedUser }}</span>
    </div>
    <div class="flex items-center gap-1.5">
      <span class="text-content-secondary">Revoked User Permissions:</span>
      <span class="text-content">{{ row.userPermissionCount.revokedUser }}</span>
    </div>
    <div class="flex items-center gap-1.5">
      <span class="text-content-secondary">Role Permissions:</span>
      <span class="text-content">{{ row.userPermissionCount.role }}</span>
    </div>
    <div class="flex items-center gap-1.5">
      <span class="text-content-secondary">Total Available Permissions:</span>
      <span class="text-content">{{ row.userPermissionCount.total }}</span>
    </div>
  </div>
</ng-template>

<div class="search-filter-wrapper">
  <app-search-filter
    [tableRef]="dataTable.dt()"
    [searchFilterConfig]="searchFilterConfig"
  />
</div>

<app-data-table
  #dataTable
  [tableConfig]="table.tableConfig()"
  [tableHeader]="table.headers()"
  [tableData]="table.data()"
  [loading]="table.loading()"
  [bulkActionButtons]="table.bulkActions()"
  [rowActions]="table.rowActions()"
  [customBodyTemplates]="{ permissionCountUser: permissionCountUser }"
  (rowActionClick)="handleUserTableActionClick($any($event), false)"
  (bulkActionClick)="handleUserTableActionClick($any($event), true)"
  (filterData)="onTableStateChange($event)"
/>
