<app-auth-layout
  title="Forgot Password"
  subtitle="Enter your email to reset your password"
  footerText="Remember your password?"
  [footerLinkButton]="form.buttonConfigs['backToLogin']"
  (footerLinkAction)="onBackToLogin()"
>

  <form 
    (ngSubmit)="onSubmit()" 
    [formGroup]="form.formGroup"
    class="form auth-form"
  >
    <!-- Email field -->
    <app-input-field 
      [formGroup]="form.formGroup" 
      [inputFieldConfig]="form.fieldConfigs['email']"
    ></app-input-field> 

    <!-- Submit button -->
    <app-button 
      [buttonConfig]="form.buttonConfigs['submit']"
      [showButtonLoader]="isSubmitting()"
    ></app-button>
  </form>

</app-auth-layout>

<!-- Toast notifications -->
<p-toast></p-toast>
