<app-auth-layout
  title="Forgot Password"
  subtitle="Enter your email to reset your password"
  footerText="Remember your password?"
  [footerLinkButton]="form.buttonConfigs['backToLogin']"
  (footerLinkAction)="onBackToLogin()"
>
  <form
    (ngSubmit)="onSubmit()"
    [formGroup]="form.formGroup"
    class="form auth-form"
  >
    <!-- Email field -->
    <app-input-field
      [formGroup]="form.formGroup"
      [inputFieldConfig]="form.fieldConfigs.email"
    />

    <div class="auth-form-actions">
      <app-button
        [buttonConfig]="form.buttonConfigs['submit']"
        [showButtonLoader]="isSubmitting()"
      />
    </div>
  </form>
</app-auth-layout>
