<form
  [formGroup]="form.formGroup"
  class="form"
>
  @let dialogActionTypeValue = dialogActionType();

  @if (dialogActionTypeValue === EButtonActionTypeEnum.APPROVE) {
    <app-input-field
      [formGroup]="form.formGroup"
      [inputFieldConfig]="form.fieldConfigs['approveReason']"
    />
  } @else if (dialogActionTypeValue === EButtonActionTypeEnum.REJECT) {
    <app-input-field
      [formGroup]="form.formGroup"
      [inputFieldConfig]="form.fieldConfigs['rejectReason']"
    />
  }
</form>
