@let drawerConfig = currentConfig();

<ng-template #drawerContent>
  <div class="app-drawer-content-shell">
    <ng-container *ngComponentOutlet="currentConfig().component; injector: _componentInjector()"></ng-container>
    @if (drawerLoading()) {
      <div
        class="app-drawer-loader"
        role="status"
        aria-live="polite"
        aria-busy="true"
      >
        <i [class]="ICONS.COMMON.SPINNER + ' app-drawer-loader__icon pi-spin'"></i>
      </div>
    }
  </div>
</ng-template>

@if (drawerConfig.fullScreen) {
  <p-drawer
    [(visible)]="visible"
    [fullScreen]="currentConfig().fullScreen"
    [closable]="currentConfig().closable"
    [dismissible]="currentConfig().dismissible"
    [closeOnEscape]="currentConfig().closeOnEscape"
    [modal]="currentConfig().modal"
    [showCloseIcon]="currentConfig().showCloseIcon"
    (visibleChange)="onDrawerVisibleChange()"
    (onShow)="onDrawerShow()"
    (onHide)="onDrawerHide()"
  >
    <ng-template #header>
      <div>
        <h1 class="text-2xl font-bold">{{ pageHeaderConfig().title }}</h1>
        <p class="text-sm">{{ pageHeaderConfig().subtitle }}</p>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <ng-container *ngTemplateOutlet="drawerContent" />
    </ng-template>
  </p-drawer>
} @else {
  <p-drawer
    [(visible)]="visible"
    [position]="currentConfig().position"
    [closable]="currentConfig().closable"
    [dismissible]="currentConfig().dismissible"
    [closeOnEscape]="currentConfig().closeOnEscape"
    [modal]="currentConfig().modal"
    [showCloseIcon]="currentConfig().showCloseIcon"
    [style]="getDrawerStyle()"
    [styleClass]="getDrawerStyleClass()"
    (visibleChange)="onDrawerVisibleChange()"
    (onShow)="onDrawerShow()"
    (onHide)="onDrawerHide()"
  >
    <ng-template #header>
      <div>
        <h1 class="text-2xl font-bold">{{ pageHeaderConfig().title }}</h1>
        <p class="text-sm">{{ pageHeaderConfig().subtitle }}</p>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <ng-container *ngTemplateOutlet="drawerContent" />
    </ng-template>
  </p-drawer>
}
