@let drawerConfig = currentConfig();

@if (drawerConfig.fullScreen) {
  <p-drawer
    [(visible)]="visible"
    [fullScreen]="currentConfig().fullScreen"
    [closable]="currentConfig().closable"
    [dismissible]="currentConfig().dismissible"
    [closeOnEscape]="currentConfig().closeOnEscape"
    [modal]="currentConfig().modal"
    [showCloseIcon]="currentConfig().showCloseIcon"
    (visibleChange)="onDrawerVisibleChange()"
    (onShow)="onDrawerShow()"
    (onHide)="onDrawerHide()"
  >
    <ng-template #header>
      <div>
        <h1 class="text-2xl font-bold">{{ pageHeaderConfig().title }}</h1>
        <p class="text-sm">{{ pageHeaderConfig().subtitle }}</p>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <ng-container *ngComponentOutlet="currentConfig().component; injector: _componentInjector()"></ng-container>
    </ng-template>
  </p-drawer>
} @else {
  <p-drawer
    [(visible)]="visible"
    [position]="currentConfig().position"
    [closable]="currentConfig().closable"
    [dismissible]="currentConfig().dismissible"
    [closeOnEscape]="currentConfig().closeOnEscape"
    [modal]="currentConfig().modal"
    [showCloseIcon]="currentConfig().showCloseIcon"
    [style]="getDrawerStyle()"
    (visibleChange)="onDrawerVisibleChange()"
    (onShow)="onDrawerShow()"
    (onHide)="onDrawerHide()"
  >
    <ng-template #header>
      <div>
        <h1 class="text-2xl font-bold">{{ pageHeaderConfig().title }}</h1>
        <p class="text-sm">{{ pageHeaderConfig().subtitle }}</p>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <ng-container *ngComponentOutlet="currentConfig().component; injector: _componentInjector()"></ng-container>
    </ng-template>
  </p-drawer>
}
