<app-auth-layout
  title="Reset Password"
  subtitle="Enter your new password"
  footerText="Remember your password?"
  [footerLinkButton]="form.buttonConfigs['backToLogin']"
  (footerLinkAction)="onBackToLogin()"
>
  <form
    (ngSubmit)="onSubmit()"
    [formGroup]="form.formGroup"
    class="form auth-form"
  >
    <!-- New Password field -->
    <app-input-field
      [formGroup]="form.formGroup"
      [inputFieldConfig]="form.fieldConfigs['password']"
    ></app-input-field>

    <!-- Confirm Password field -->
    <app-input-field
      [formGroup]="form.formGroup"
      [inputFieldConfig]="form.fieldConfigs['confirmPassword']"
    ></app-input-field>

    <!-- Submit button -->
    <app-button
      [buttonConfig]="form.buttonConfigs['submit']"
      [showButtonLoader]="isSubmitting()"
    ></app-button>
  </form>
</app-auth-layout>

<!-- Toast notifications -->
<p-toast></p-toast>
