<ng-template
  #docWorkspaceContextDetail
  let-entry
>
  <app-doc-workspace-context [view]="$any(entry.value)" />
</ng-template>

<ng-template
  #documentReferenceHierarchy
  let-entry
>
  <app-doc-reference [root]="$any(entry.value)" />
</ng-template>

<ng-template
  #invoiceDetailAmounts
  let-entry
>
  @let v = $any(entry.value);
  <app-doc-amount [segments]="docInvoiceDrawerTaxGstSegments(v)" />
</ng-template>

<ng-template
  #invoiceDetailBookedPaid
  let-entry
>
  <app-doc-amount
    [segments]="docInvoiceDrawerBookedPaidSegments($any(entry.value))"
  />
</ng-template>

<ng-template
  #invoiceDetailAdvanceSettlement
  let-entry
>
  <app-doc-amount
    [segments]="docInvoiceDrawerAdvanceSettlementSegments($any(entry.value))"
  />
</ng-template>

<app-view-detail
  [drawerDetails]="_invoiceDetails()"
  [customTemplates]="{
    docWorkspaceContextDetail: docWorkspaceContextDetail,
    documentReferenceHierarchy: documentReferenceHierarchy,
    invoiceDetailAmounts: invoiceDetailAmounts,
    invoiceDetailBookedPaid: invoiceDetailBookedPaid,
    invoiceDetailAdvanceSettlement: invoiceDetailAdvanceSettlement,
  }"
/>
