<ng-template
  #assignmentSnapshot
  let-entry
>
  @let snap = $any(entry.value);
  @if (snap) {
    @let driver = snap.assignedDrivers?.[0];
    @let employee = snap.assignedEngineer;
    @let driverName = driver
      ? ((driver.firstName ?? '') + ' ' + (driver.lastName ?? '')).trim()
      : '';
    @let employeeName = employee
      ? ((employee.firstName ?? '') + ' ' + (employee.lastName ?? '')).trim()
      : '';

    <div class="assignment-snapshot">
      @if (snap.company?.name) {
        <div class="assignment-snapshot__tile">
          <div class="assignment-snapshot__icon assignment-snapshot__icon--company">
            <i [class]="ICONS.COMMON.MAP_MARKER"></i>
          </div>
          <div class="assignment-snapshot__body">
            <span class="assignment-snapshot__kicker">Company</span>
            <span class="assignment-snapshot__title">
              {{ snap.company.name | textCase: 'title' }}
            </span>
            @if (snap.company.fullAddress?.trim()) {
              <span class="assignment-snapshot__meta">{{ snap.company.fullAddress }}</span>
            }
          </div>
        </div>
      }

      @if (snap.contractors?.[0]?.name) {
        <div class="assignment-snapshot__tile">
          <div class="assignment-snapshot__icon assignment-snapshot__icon--contractor">
            <i [class]="ICONS.SITE.BUILDING"></i>
          </div>
          <div class="assignment-snapshot__body">
            <span class="assignment-snapshot__kicker">Contractor</span>
            <span class="assignment-snapshot__title">
              {{ snap.contractors[0].name | textCase: 'title' }}
            </span>
            @if (formatAddress(snap.contractors[0]); as contractorAddress) {
              <span class="assignment-snapshot__meta">{{ contractorAddress }}</span>
            }
          </div>
        </div>
      }

      @if (driver) {
        <div class="assignment-snapshot__tile">
          <div class="assignment-snapshot__icon assignment-snapshot__icon--engineer">
            <i [class]="ICONS.COMMON.USER"></i>
          </div>
          <div class="assignment-snapshot__body">
            <span class="assignment-snapshot__kicker">Assigned driver</span>
            <span class="assignment-snapshot__title">
              {{ driverName | textCase: 'title' }}
            </span>
            @if (driver.employeeId?.trim()) {
              <span class="assignment-snapshot__meta">ID: {{ driver.employeeId }}</span>
            }
          </div>
        </div>
      } @else if (employee) {
        <div class="assignment-snapshot__tile">
          <div class="assignment-snapshot__icon assignment-snapshot__icon--engineer">
            <i [class]="ICONS.COMMON.USER"></i>
          </div>
          <div class="assignment-snapshot__body">
            <span class="assignment-snapshot__kicker">Assigned engineer</span>
            <span class="assignment-snapshot__title">
              {{ employeeName | textCase: 'title' }}
            </span>
            @if (employee.employeeId?.trim()) {
              <span class="assignment-snapshot__meta">ID: {{ employee.employeeId }}</span>
            }
          </div>
        </div>
      }

      @if (snap.vehicle) {
        <div class="assignment-snapshot__tile">
          <div class="assignment-snapshot__icon assignment-snapshot__icon--vehicle">
            <i [class]="ICONS.COMMON.CAR"></i>
          </div>
          <div class="assignment-snapshot__body">
            <span class="assignment-snapshot__kicker">Vehicle</span>
            <span class="assignment-snapshot__title">{{ snap.vehicle.registrationNo }}</span>
          </div>
        </div>
      }
    </div>
  } @else {
    <span class="assignment-snapshot__empty">No assignment data for this entry.</span>
  }
</ng-template>

<app-view-detail
  [drawerDetails]="_attendanceDetails()"
  [customTemplates]="{
    assignmentSnapshot: assignmentSnapshot,
  }"
/>
