<app-page-header 
    title="Add Vehicle"
    subtitle="Register a new vehicle to the system"
></app-page-header>

<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form">
            
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <app-input-field 
            [formGroup]="formGroup" 
            [inputFieldConfig]="fieldConfigs()['brand']">
        </app-input-field>

        <app-input-field 
            [formGroup]="formGroup" 
            [inputFieldConfig]="fieldConfigs()['model']">
        </app-input-field>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <app-input-field 
            [formGroup]="formGroup" 
            [inputFieldConfig]="fieldConfigs()['vehicleNumber']">
        </app-input-field>

        <app-input-field 
            [formGroup]="formGroup" 
            [inputFieldConfig]="fieldConfigs()['petroCardNumber']">
        </app-input-field>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <app-input-field 
            [formGroup]="formGroup" 
            [inputFieldConfig]="fieldConfigs()['vehicleDocuments']">
        </app-input-field>

        <app-input-field 
            [formGroup]="formGroup" 
            [inputFieldConfig]="fieldConfigs()['vehicleImages']">
        </app-input-field>
    </div>

    <div class="pt-4 border-t border-gray-200 button-container">
        <button pButton 
            type="submit" 
            label="Add Vehicle" 
            [loading]="loading()"
            [disabled]="loading()"
            class="p-button-primary flex-1 md:flex-none">
        </button>
        
        <button pButton 
            type="button" 
            label="Reset" 
            (click)="resetForm()"
            [disabled]="loading()"
            class="p-button-outlined flex-1 md:flex-none">
        </button>
    </div>
    
</form>
