<app-page-header [pageHeaderConfig]="pageHeaderConfig()" />

<form
  (ngSubmit)="onSubmit()"
  [formGroup]="form.formGroup"
  class="form"
>
  <app-input-field
    [formGroup]="form.formGroup"
    [inputFieldConfig]="form.fieldConfigs.employeeName"
  />

  @if (selectedEmployeeName()) {
    <app-leave-balance-cards
      [(leaveBalance)]="leaveBalance"
      [employeeName]="selectedEmployeeName()"
    />
  }

  @if (showRemainingForceLeaveFields()) {
    <app-input-field
      [formGroup]="form.formGroup"
      [inputFieldConfig]="form.fieldConfigs.leaveDate"
    />

    <app-input-field
      [formGroup]="form.formGroup"
      [inputFieldConfig]="form.fieldConfigs.leaveReason"
    />

    <div class="button-container">
      <app-button
        [buttonConfig]="form.buttonConfigs['reset']"
        (onButtonClick)="onReset()"
      />

      <app-button
        [buttonConfig]="form.buttonConfigs['submit']"
        [showButtonLoader]="isSubmitting()"
      />
    </div>
  }
</form>
