.content-wrapper {

    .metrics-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        margin-bottom: 1.5rem;

        @media (min-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
