<app-page-header [pageHeaderConfig]="pageHeaderConfig()" />

<form
  (ngSubmit)="onSubmit()"
  [formGroup]="form.formGroup"
  class="form"
>
  <app-input-field
    [formGroup]="form.formGroup"
    [inputFieldConfig]="form.fieldConfigs.employeeName"
  />

  <div class="grid grid-cols-1 md:grid-cols-2">
    <app-input-field
      [formGroup]="form.formGroup"
      [inputFieldConfig]="form.fieldConfigs.attendanceDate"
    />

    <app-input-field
      [formGroup]="form.formGroup"
      [inputFieldConfig]="form.fieldConfigs.attendanceStatus"
    />
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2">
    <app-input-field
      [formGroup]="form.formGroup"
      [inputFieldConfig]="form.fieldConfigs.locationName"
    />

    <app-input-field
      [formGroup]="form.formGroup"
      [inputFieldConfig]="form.fieldConfigs.clientName"
    />
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2">
    <app-input-field
      [formGroup]="form.formGroup"
      [inputFieldConfig]="form.fieldConfigs.associateEngineerName"
    />

    <app-input-field
      [formGroup]="form.formGroup"
      [inputFieldConfig]="form.fieldConfigs.associatedVehicle"
    />
  </div>

  <app-input-field
    [formGroup]="form.formGroup"
    [inputFieldConfig]="form.fieldConfigs.remark"
  />

  <div class="button-container">
    <app-button
      [buttonConfig]="form.buttonConfigs['reset']"
      (onButtonClick)="onReset()"
    />

    <app-button
      [buttonConfig]="form.buttonConfigs['submit']"
      [showButtonLoader]="isSubmitting()"
    />
  </div>
</form>
