<app-page-header [pageHeaderConfig]="pageHeaderConfig()" />

<app-my-files-breadcrumb />

<div class="my-files-toolbar">
  <div class="my-files-toolbar__search">
    <app-input-field
      [inputFieldConfig]="searchFieldConfig"
      [fieldValue]="searchInput()"
      (onFieldChange)="onSearchFieldChange($event)"
    />
  </div>

  <div class="my-files-toolbar__actions">
    <app-button
      [buttonConfig]="getCreateFolderButtonConfig()"
      (onButtonClick)="openMyFilesActionDialog(EButtonActionType.CREATE_FOLDER)"
    />
    <app-button
      [buttonConfig]="getUploadMyFileButtonConfig()"
      (onButtonClick)="openMyFilesActionDialog(EButtonActionType.UPLOAD)"
    />
  </div>
</div>

<app-data-table
  #dataTable
  [tableConfig]="table.tableConfig()"
  [tableHeader]="table.headers()"
  [tableData]="table.data()"
  [loading]="table.loading()"
  [rowActions]="table.rowActions()"
  [customBodyTemplates]="{ myFileName: myFileName }"
  (rowActionClick)="handleMyFilesTableActionClick($any($event))"
  (filterData)="onTableStateChange($event)"
/>

<ng-template
  #myFileName
  let-row
>
  @if (isFolder(row)) {
    <button
      type="button"
      class="data-table-link cursor-pointer font-semibold text-left"
      (click)="onFolderNameClick(row)"
    >
      {{ row.name }}
    </button>
  } @else {
    <span class="font-semibold">{{ row.name }}</span>
  }
</ng-template>
