<app-page-header [pageHeaderConfig]="pageHeaderConfig()" />

<app-my-files-breadcrumb />

<div class="my-files-toolbar">
  <div class="my-files-toolbar__search">
    <app-input-field
      [inputFieldConfig]="searchFieldConfig"
      [fieldValue]="searchInput()"
      (onFieldChange)="onSearchFieldChange($event)"
    />
  </div>

  <div class="my-files-toolbar__actions">
    @for (button of getToolbarActionButtons(); track button.id) {
      <app-button
        [buttonConfig]="button"
        (onButtonClick)="openMyFilesActionDialog($any(button.id))"
      />
    }
  </div>
</div>

<app-data-table
  #dataTable
  [tableConfig]="table.tableConfig()"
  [tableHeader]="table.headers()"
  [tableData]="table.data()"
  [loading]="table.loading()"
  [rowActions]="table.rowActions()"
  [customBodyTemplates]="{ myFileName: myFileName }"
  (rowActionClick)="handleMyFilesTableActionClick($any($event))"
  (filterData)="onTableStateChange($event)"
/>

<ng-template
  #myFileName
  let-row
>
  <button
    type="button"
    class="my-file-row"
    [attr.title]="isFolder(row) ? 'Open folder' : 'Open file'"
    (click)="onItemClick(row)"
  >
    <span
      class="my-file-row__icon"
      [class.my-file-row__icon--folder]="row.iconTone === 'folder'"
      [class.my-file-row__icon--pdf]="row.iconTone === 'pdf'"
      [class.my-file-row__icon--image]="row.iconTone === 'image'"
      [class.my-file-row__icon--spreadsheet]="row.iconTone === 'spreadsheet'"
      [class.my-file-row__icon--document]="row.iconTone === 'document'"
      [class.my-file-row__icon--file]="row.iconTone === 'file'"
    >
      <i [class]="row.itemIcon"></i>
    </span>
    <span class="my-file-row__name">{{ row.name }}</span>
  </button>
</ng-template>
