<ng-template
  #docWorkspaceContext
  let-row
>
  <app-doc-workspace-context [view]="row.docWorkspaceContext" />
</ng-template>

<ng-template
  #bankTransferDocumentReference
  let-row
>
  <app-doc-reference [root]="row.documentReferenceHierarchy" />
</ng-template>

<ng-template
  #bankTransferAmountBreakdown
  let-row
>
  <app-doc-amount [segments]="docBankTransferAmountSegments(row)" />
</ng-template>

<app-page-header
  [pageHeaderConfig]="pageHeaderConfig()"
  (headerButtonClick)="onHeaderButtonClick($event)"
>
  <div
    headerFilter
    class="bank-transfer-header-filters"
  >
    <p-iconfield class="bank-transfer-header-filters__search">
      <p-inputicon class="pi pi-search" />
      <input
        pInputText
        type="text"
        [(ngModel)]="searchInput"
        (ngModelChange)="onSearchInput($event)"
        placeholder="Search by UTR / Reference"
        class="w-full"
      />
    </p-iconfield>
    <app-input-field
      [inputFieldConfig]="paidFromAccountFilterFieldConfig()"
      [fieldValue]="selectedPaidFromAccount()"
      (onFieldChange)="onPaidFromAccountFilterChange($event)"
    />
    <app-input-field
      [inputFieldConfig]="hasPaidFromAccountFilterFieldConfig()"
      [fieldValue]="selectedHasPaidFromAccount()"
      (onFieldChange)="onHasPaidFromAccountFilterChange($event)"
    />
  </div>
</app-page-header>

<app-data-table
  #dataTable
  [tableConfig]="table.tableConfig()"
  [tableHeader]="table.headers()"
  [tableData]="table.data()"
  [loading]="table.loading()"
  [bulkActionButtons]="table.bulkActions()"
  [rowActions]="table.rowActions()"
  [customBodyTemplates]="{
    docWorkspaceContext: docWorkspaceContext,
    bankTransferDocumentReference: bankTransferDocumentReference,
    bankTransferAmountBreakdown: bankTransferAmountBreakdown,
  }"
  (rowActionClick)="handleTableActionClick($any($event))"
  (filterData)="onTableStateChange($event)"
/>
