<app-payment-outstanding-section
  [sourceType]="EPaymentOutstandingSourceType.EXPENSE"
  [loading]="table.loading()"
  [recordCount]="totalRecords()"
  [totalPendingAmount]="summary()?.totalPendingAmount ?? 0"
  searchPlaceholder="Search by employee name or code"
  (searchChange)="onSearchChange($event)"
>
  <ng-template
    #bankDetailsCell
    let-row
  >
    <app-bank-details-cell [bankDetails]="row.bankDetails" />
  </ng-template>

  <app-data-table
    #dataTable
    [tableConfig]="table.tableConfig()"
    [tableHeader]="table.headers()"
    [tableData]="table.data()"
    [loading]="table.loading()"
    [bulkActionButtons]="table.bulkActions()"
    [rowActions]="table.rowActions()"
    [customBodyTemplates]="{
      bankDetailsCell: bankDetailsCell,
    }"
    (filterData)="onTableStateChange($event)"
    (selectionChange)="onSelectionChange($event)"
  />
</app-payment-outstanding-section>
