<app-page-header [pageHeaderConfig]="pageHeaderConfig()" />

@if (linkedUserVehicleDetail(); as detail) {
  <app-linked-vehicle-petro-card
    class="block mb-8"
    [linkedUserVehicleDetail]="detail"
  />
}

<form
  (ngSubmit)="onSubmit()"
  [formGroup]="form.formGroup"
  class="form"
>
  <div class="grid grid-cols-1 md:grid-cols-4">
    <app-input-field
      [formGroup]="form.formGroup"
      [inputFieldConfig]="form.fieldConfigs.fuelFillDate"
    />

    <app-input-field
      [formGroup]="form.formGroup"
      [inputFieldConfig]="form.fieldConfigs.paymentMode"
    />

    <app-input-field
      [formGroup]="form.formGroup"
      [inputFieldConfig]="form.fieldConfigs.fuelAmount"
    />

    @if (form.fieldConfigs.transactionId) {
      <app-input-field
        [formGroup]="form.formGroup"
        [inputFieldConfig]="form.fieldConfigs.transactionId"
      />
    }
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2">
    <app-input-field
      [formGroup]="form.formGroup"
      [inputFieldConfig]="form.fieldConfigs.fuelLiters"
    />

    <app-input-field
      [formGroup]="form.formGroup"
      [inputFieldConfig]="form.fieldConfigs.odometerReading"
    />
  </div>

  <app-input-field
    [formGroup]="form.formGroup"
    [inputFieldConfig]="form.fieldConfigs.remark"
  />

  <app-input-field
    [formGroup]="form.formGroup"
    [inputFieldConfig]="form.fieldConfigs.fuelExpenseAttachments"
  />

  <div class="button-container">
    <app-button
      [buttonConfig]="form.buttonConfigs['reset']"
      (onButtonClick)="onReset()"
    />

    <app-button
      [buttonConfig]="form.buttonConfigs['submit']"
      [showButtonLoader]="isSubmitting()"
    />
  </div>
</form>
