.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  // background-color: #fff;
  // padding: 1.5rem;
  // border-radius: 1rem;

  .grid {
    gap: 1.5rem;
  }
}

.multi-step-button-container,
.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  padding-top: 1rem;
  border-top: 1px solid var(--border-light-color);
}

.form-section {
  margin-bottom: 1.5rem;

  &__header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
    padding-bottom: 0.5rem;

    &--bordered {
      border-bottom: 1px solid var(--border-light-color);
    }
  }

  &__title {
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--text-primary-color);
    margin: 0;
  }

  &__subtitle {
    font-size: 0.75rem;
    color: var(--text-secondary-color);
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .grid {
      gap: 1.5rem;
    }
  }
}
