@let metrics = metricCardConfig();

<div class="flex flex-wrap gap-4">
  @for (metric of metrics; track metric.label) {
    @let colorClass = getColor(metric.label);
    <div
      class="flex-1 p-3 min-w-[100px] sm:min-w-[160px] text-center rounded-lg border-l-4 transition-all duration-300 hover:shadow-md hover:scale-105 cursor-pointer flex flex-col justify-center"
      [ngClass]="[colorClass.bg, colorClass.border]"
    >
      <div
        class="text-xl lg:text-3xl font-bold mb-2"
        [ngClass]="colorClass.text"
      >
        {{ metric.value }}
      </div>
      <div
        class="text-sm font-medium text-gray-700"
        [title]="metric.label"
      >
        {{ metric.label }}
      </div>
    </div>
  }
</div>
