<form
  [formGroup]="form.formGroup"
  class="form"
>
  @if (dialogActionType() === EButtonActionTypeEnum.ALLOCATE) {
    <app-input-field
      [formGroup]="form.formGroup"
      [inputFieldConfig]="form.fieldConfigs.projectName"
    />
    <app-input-field
      [formGroup]="form.formGroup"
      [inputFieldConfig]="form.fieldConfigs.allocateDate"
    />
  }

  @if (dialogActionType() === EButtonActionTypeEnum.DEALLOCATE) {
    <app-input-field
      [formGroup]="form.formGroup"
      [inputFieldConfig]="form.fieldConfigs.releaseDate"
    />
  }

  @if (dialogActionType() === EButtonActionTypeEnum.TRANSFER) {
    <app-input-field
      [formGroup]="form.formGroup"
      [inputFieldConfig]="form.fieldConfigs.releaseDate"
    />
    <app-input-field
      [formGroup]="form.formGroup"
      [inputFieldConfig]="form.fieldConfigs.projectName"
    />
    <app-input-field
      [formGroup]="form.formGroup"
      [inputFieldConfig]="form.fieldConfigs.allocateDate"
    />
  }
</form>
