<p-tabs
  [scrollable]="true"
  [value]="currentActiveTab()"
>
  <p-tablist>
    @for (tab of tabs(); track tab.route; let i = $index) {
      @if (tab.visible !== false) {
        <p-tab
          [value]="tab.route"
          [routerLink]="tabMode() === allTabMode.ROUTER_OUTLET ? [tab.route] : null"
          [relativeTo]="tabMode() === allTabMode.ROUTER_OUTLET ? route : undefined"
          [disabled]="tab.disabled"
          [pTooltip]="tab.tooltip"
          tooltipPosition="top"
          (click)="onTabClick(tab, i)"
          class="flex items-center !gap-2 text-inherit"
        >
          @if (tab.icon) {
            <i [class]="tab.icon"></i>
          }

          <span>{{ tab.label }}</span>

          @if (tab.badge) {
            <p-badge [value]="tab.badge.toString()" />
          }
        </p-tab>
      }
    }
  </p-tablist>
</p-tabs>

<div class="tab-content mt-4">
  @if (tabMode() === allTabMode.ROUTER_OUTLET) {
    <div
      class="tab-content__outlet"
      [@routeOutletFade]="currentRoute()"
    >
      <router-outlet />
    </div>
  } @else {
    <ng-content />
  }
</div>
