<app-page-header 
    title="Add Recharge"
    subtitle="Add a new recharge transaction for petro card"
></app-page-header>

<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form">
            
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <app-input-field 
            [formGroup]="formGroup" 
            [inputFieldConfig]="fieldConfigs()['rechargeDate']">
        </app-input-field>

        <app-input-field 
            [formGroup]="formGroup" 
            [inputFieldConfig]="fieldConfigs()['rechargeAmount']">
        </app-input-field>
    </div>

    <app-input-field 
        [formGroup]="formGroup" 
        [inputFieldConfig]="fieldConfigs()['rechargeMethod']">
    </app-input-field>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

        <app-input-field 
            [formGroup]="formGroup" 
            [inputFieldConfig]="fieldConfigs()['referenceNumber']">
        </app-input-field>

        <app-input-field 
            [formGroup]="formGroup" 
            [inputFieldConfig]="fieldConfigs()['uploadReceipt']">
        </app-input-field>
    </div>

    <app-input-field 
        [formGroup]="formGroup" 
        [inputFieldConfig]="fieldConfigs()['description']">
    </app-input-field>

    <div class="pt-4 border-t border-gray-200 button-container">
        <button
            type="submit"
            pButton
            label="Add Recharge"
            icon="pi pi-plus"
            class="p-button-primary"
            [loading]="loading()"
            [disabled]="loading()">
        </button>

        <button
            type="button"
            pButton
            label="Reset"
            icon="pi pi-refresh"
            class="p-button-secondary"
            (click)="resetForm()"
            [disabled]="loading()">
        </button>
        
    </div>
</form>
